{% import "mixins/flash-messages.html" as FM %}
<!doctype html>
<html lang="lt" xml:lang="lt">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link href="/styles/site.css" rel="stylesheet">
		<link rel="shortcut icon" href="/images/lyra-icon.png" type="image/x-icon">
		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>

	<body>
		{# HEADER > Nav #}
        {% include 'partials/mainNavigation.html' %}

		{# Main content section #}
		<main id="body">
			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# status messages to users, e.g. errors, success, warning messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{% block content %}{% endblock %}
		</main>

		{# FOOTER #}
		{% include '../partials/footer.html' %}		

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		<script src="/js/dist/global.bundle.js"></script>
		
		{% block js %}{% endblock %}
	</body>
</html>
