{% macro highlightedProducts(products) %}
	<section class="highlighted-products content-center push-top content-section">
        {# looping through products #}
        {% for product in products %}
        {# product variables #}
        {% set manufacturerKey = product.Manufacturer.key %}
        {% set manufacturerName = product.Manufacturer.name %}
        {% set productTypeKey = product.ProductType.key %}
        {% set productType = product.ProductType.name %}
        {% set productTypeSingular = product.ProductType.nameSingular %}
        <div class="items-box__item">
            <a aria-label="{{product.title}}" title="{{product.title}}" href="/produktai/{{manufacturerKey}}/{{productTypeKey}}/{{product.slug}}">
                    {% if product.images %}
                        {# Main image #}
                        <img alt="{{product.title}}" class="items-box__item--main-image lazy" data-lazy="{{product.images[0].secure_url}}">
                        </img>
                    {% endif %}
            </a>
            <p class="items-box__item--description">
                <span class="items-box__item--description-title">{{manufacturerName | upper}} - {{product.title | upper}}</span>
                <br>
                {% if productTypeSingular %}
                    <span class="items-box__item--description-type">{{productTypeSingular | lower}}</span>
                    {% else %}
                    <span class="items-box__item--description-type">{{productType | lower}}</span>
                {% endif %}
                <br>
                {% if product.Discount %}
                <span class="items-box__item--description-price"><b class="price-discount strike-through-text">{{product.Discount}}€</b> &nbsp<strike>{{product.price}}€</strike></span>
                {% else %}
                <span class="items-box__item--description-price">{{product.price}}€</span>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </section>
{% endmacro %}