
{% from './social-icons-dynamic-list.html' import socialIcons %}
{% macro introImageText(body, mediaIconsArr, titleName) %}
    {% set CountryName = ( body.CountryName if body.CountryName else titleName ) %}
    {% set CountryFlag = ( body.CountryFlag if body.CountryFlag else "" ) %}
    {% set text = ( body.description | safe if body.description else "Šiai kategorijai trūksta aprašymo" ) %}
    {% set img = ( body.CoverImage.secure_url if body.CoverImage.secure_url else "/images/products-page.jpg" ) %}
    
    <figure id="slider" class="fullwidth-image" style="background-image: url({{img}}); background-position: top;" data-type="background" data-speed="-3"></figure>
    <section class="content-section section-description push-vertical">
        <div class="section-description__left">
            <div class="content-start">
                {% if CountryFlag.secure_url %}
                    <img title="{{CountryName}}" aria-label="{{CountryName}}" src="{{CountryFlag.secure_url}}" alt="{{CountryName}}">
                {% endif %}
            </div>
            <div class="push-vertical--small content-start">
                {{socialIcons(mediaIconsArr)}}
            </div>
        </div>
        <div class="section-description__right">
            <p>{{ text }}</p>
        </div>
    </section>
{% endmacro %}