{% from "./macros.html" import dropdownSvg %}
{% from "./macros.html" import whitedropdownSvg %}

{% macro sideNavigation(page, data) %}
    {% if data.categories.length %}
    <div class="mobile-side-nav">
        <div class="subcategory-box__item--text">Kategorijos <small style="display: none"></small></div>
        {{ whitedropdownSvg() }}
    </div>
    <aside class="side-nav">
        <div class="side-nav__box">
            <div id="manufacturers-dropdown">
                <a href="/prekiu-zenklai" class="subcategory-box__item--text">Gamintojai</a>
                {{ dropdownSvg("#1f1f1f", "#448AA6") }}
            </div>
            <div class="subcategory-box" style="display: none;">
            {% for manufacturer in data.manufacturers %}
                <a href="/prekiu-zenklai/{{manufacturer.key}}" class="subcategory-box__item">
                    <span>{{manufacturer.name}}</span>
                </a>
            {% endfor %}
            </div>
            {# Deleted "all products" button, we agreed that people can press "products" in the main navigation instead #}
            {# <a href="/products" class="{{ class }} side-nav__list-box--item">Visi produktai</a> #}
            {% for cat in data.categories %}
            {% set class = ( "active" if data.category and data.category.key == cat.key else "" ) %}
            {% set dropdown = ( "navigation-dropdown" if cat.IsParentCategory else "" ) %}
            {% set ChildCategoryOfActive =  "display: none;"  %}
                {% if not cat.ChildCategoryOf %}
                    {% if cat.IsParentCategory %}
                    {# Display Parent categories #}
                    <div class="{{ class }} {{dropdown}}" data-category="{{cat.name}}">
                        {% if page == "products-page" %}
                            <a href="/produktai/{{ cat.key }}" class="subcategory-box__item--text">{{ cat.name }}</a>
                        {% elif page == "brand-page" %}
                            <a href="/prekiu-zenklai/{{data.brand.key}}/{{ cat.key }}" class="subcategory-box__item--text">{{ cat.name }}</a>
                        {% elif page == "special-offers-page" %}
                            <a href="/pasiulymai/{{ cat.key }}" class="subcategory-box__item--text">{{ cat.name }}</a>
                        {% endif %}
                        {{ dropdownSvg("#1f1f1f", "#448AA6") }}
                    </div>
                    {% else %}
                    {# Simple categories - neither parent or child #}
                        {% if page == "products-page" %}
                            <a href="/produktai/{{ cat.key }}" class="{{ class }} {{dropdown}} side-nav__list-box--item">
                                <span class="subcategory-box__item--text">{{ cat.name }}</span>
                            </a>
                            {% elif page == "brand-page" %}
                            <a href="/prekiu-zenklai/{{data.brand.key}}/{{ cat.key }}" class="{{ class }} {{dropdown}} side-nav__list-box--item">
                                <span class="subcategory-box__item--text">{{ cat.name }}</span>
                            </a>
                            {% elif page == "special-offers-page" %}
                            <a href="/pasiulymai/{{ cat.key }}" class="{{ class }} {{dropdown}} side-nav__list-box--item">
                                <span class="subcategory-box__item--text">{{ cat.name }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if cat.IsParentCategory %}
                        {# Display Child categories of Parent category #}
                        <div class="subcategory-box" style="{{ChildCategoryOfActive}}">
                        {% for subCat in data.categories %}
                        {% set subClass = ( "active" if data.category and data.category._id == subCat._id else "" ) %}
                            {% if cat.key === subCat.ChildCategoryOf.key %}
                                {% if page == "products-page" %}
                                    <a href="/produktai/{{ subCat.key }}" class="{{ subClass }} subcategory-box__item" data-parent="{{cat.key}}">
                                    {{subCat.name}}
                                    </a>
                                {% elif page == "brand-page" %}
                                    <a href="/prekiu-zenklai/{{data.brand.key}}/{{ subCat.key }}" class="{{ subClass }} subcategory-box__item" data-parent="{{cat.key}}">
                                    {{subCat.name}}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </aside>
{% endif %}
{% endmacro %}
