{% macro socialIcons(arrIcons) %}
    <div class="media-icons">
        {% for icon in arrIcons %}
            {% if icon.name == "website" %}
            <a class="media-icons__icon" aria-label="facebook" rel="noreferrer" href="https://www.facebook.com/SalonasLyra/" target="_blank">
                {{ fbLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% elif icon.name == "facebook" %}
            <a class="media-icons__icon" aria-label="instagram" rel="noreferrer" href="https://www.instagram.com/salonas_lyra/" target="_blank">
                {{ instaLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% elif icon.name == "instagram" %}
            <a class="media-icons__icon" aria-label="tidal" rel="noreferrer" href="https://tidal.com/playlist/b82d9073-c0e7-4862-97c4-814c8515a2f7" target="_blank">
                {{ tidalLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% elif icon.name == "youtube" %}
            <a class="media-icons__icon" aria-label="spotify" rel="noreferrer" href="https://open.spotify.com/user/lyra26?si=KmJGXnamTpKBMtcaHZE5KQ" target="_blank">
                {{ spotifyLogo("#1f1f1f", "#448AA6") }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}