{% from './media-icons.html' import fbLogo, instaLogo %}
{% macro socialIcons(arrIcons) %}
    <div class="media-icons content-center">
        {% for icon in arrIcons %}
            {% if icon.name == "website" %}
            <a class="media-icons__icon" aria-label="instagram" rel="noreferrer" href="{{icon.url}}" target="_blank">
                {{ fbLogo("#1f1f1f", "#448AA6", icon.url)}}
            </a>
            {% elif icon.name == "facebook" %}
            <a class="media-icons__icon" aria-label="instagram" rel="noreferrer" href="{{icon.url}}" target="_blank">
                {{ fbLogo("#1f1f1f", "#448AA6", icon.url) }}
            </a>
            {% elif icon.name == "instagram" %}
            <a class="media-icons__icon" aria-label="instagram" rel="noreferrer" href="{{icon.url}}" target="_blank">
                {{ instaLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% elif icon.name == "youtube" %}
            <a class="media-icons__icon" aria-label="youtube" rel="noreferrer" href="{{icon.url}}" target="_blank">
                {{ spotifyLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% elif icon.name == "pinterest" %}
            <a class="media-icons__icon" aria-label="pinterest" rel="noreferrer" href="{{icon.url}}" target="_blank">
                {{ spotifyLogo("#1f1f1f", "#448AA6") }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}