{% macro sortByForm(link, currentSort) %}
    <form class="form_box" action="{{link}}" method="get">
        <select name="filterlist" class="sort-bar__box--button" onchange="this.form.submit()">
            {% if currentSort == "price-high" %}
            <option>Kaina: aukščiausia</option>
            {% elif currentSort == "price-low" %}
            <option>Kaina: žemiausia</option>
            {% else %}
            <option>Rūšiuoti pagal</option>
            {% endif %}
            {% if currentSort %}
            <option>Aktualumas</option>
            {% endif %}
            {% if currentSort != "price-high" %}<option value="price-high">Kaina: aukščiausia</option> {% endif %}
            {% if currentSort != "price-low" %}<option value="price-low">Kaina: žemiausia</option> {% endif %}
        </select>
    </form>
{% endmacro %}