{% extends "layouts/default.html" %}
{% block head %}
	<title>Lyra | {{section}}</title>
    <meta name="Description" content="{{section}}">
{% endblock %}

{% block content %}
    {% for paragraph in data.paragraphs %}
        {% if paragraph.images.length %}
            <div class="content-center content-column fullwidth-image">
                {# Media #}
                {% for image in paragraph.images %}
                    <img class="background-image lazy" data-src="{{image.secure_url}}" alt="{{paragraph.paragraphTitle}}">
                    {% if paragraph.textOnImage %}
                        <div class="message__square">
                            <p>{{ paragraph.textOnImage}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% set background = ( "bg-dark" if paragraph.style == "dark" ) %}
        <article class="{{background}}">
            <div class="content-section expand-vertical">
                <p>{{ paragraph.body | safe}}</p>
            </div>
        </article>
    {% endfor %}
        <section class="bg-black expand-vertical--small">
            <ul class="manufacturers__listbox content-section content-center content-wrap content-space-between">
                {% for manufacturer in manufacturers %}
                    {% if manufacturer.LogoWhite %}
                        <li class="manufacturers__listbox--item white-logo">
                            {# {{manufacturer}} #}
                            <a aria-label="{{manufacturer.name}}" href="/prekiu-zenklai/{{manufacturer.key}}" >
                                <img class="manufacturers__listbox--image lazy" data-src="{{manufacturer.LogoWhite.secure_url}}" height="250px">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
{% endblock %}
