{% extends "layouts/default.html" %}

{% block head %}
	<title>Lyra | Gamintojai</title>
    <meta name="Description" content="Geriausi gamintojai vienoje vietoje">
{% endblock %}

{% block intro %}
	<figure class="title push-vertical">
		<h3>Prekių ženklai</h3>
	</figure>
{% endblock %}

{% block content %}
	<section class="manufacturers push-vertical content-section">
    {# Manufacturers are hidden default #}
    <ul class="manufacturers__listbox">
        {% for manufacturer in manufacturers %}
        <li class="manufacturers__listbox--item">
            {# {{manufacturer}} #}
            <a aria-label="{{manufacturer.name}}" href="prekiu-zenklai/{{manufacturer.key}}" >
                <img class="manufacturers__listbox--image lazy" onload="this.classList.add('fade-in')" data-src="{{manufacturer.SmallPreviewImage.secure_url}}" alt="..." height="200px">
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}