{% extends "layouts/default.html" %}
{% from "mixins/intro-image-text.html" import introImageText %}
{% from "mixins/dynamic-link.html" import dynamicLink %}
{% from "mixins/macros.html" import dropdownSvg %}

{% block head %}
	<title>Lyra | {{data.brand.name}}</title>
    <meta name="description" content="{{data.brand.name}} garso aparatūra, prekės">
{% endblock %}

{% block intro %}
    {{introImageText(data.brand, data.socialMedias, data.brand.name)}}
{% endblock %}

{% block content %}
    <figure class="push-vertical content-section">
    {% if data.brand %}
    {{dynamicLink(
        [{name: "Prekių ženklai",url: "/prekiu-zenklai"},
        {name: data.brand.name,url: "/prekiu-zenklai/" + data.brand.key}]
    )}}
    {% endif %}
    </figure>

    <div id="app"></div>

    <input type="hidden" 
    id="category" 
    data-key="{{categoryKey}}" 
    data-id="{{categoryId}}" 
    data-categoryisparent="{{categoryIsParent}}"
    data-currentbrandid="{{currentBrandId}}"
    data-currentbrandkey="{{currentBrandKey}}">
{# Variables stored so they could be used in server-side #}
{% endblock %}

{% block js %}
    <script>
    var dataItem = document.getElementById('category');
    window.categoryId = dataItem.dataset.id
    window.categoryKey = dataItem.dataset.key
    var isTrueSet = (dataItem.dataset.categoryisparent == 'true');
    window.categoryIsParent = isTrueSet;
    window.currentBrandId = dataItem.dataset.currentbrandid;
    window.currentBrandKey = dataItem.dataset.currentbrandkey;
    </script>
    <script src="/js/dist/brand.bundle.js"></script>
{% endblock %}