{% extends "layouts/default.html" %}
{% from "mixins/sideNavigation.html" import sideNavigation %}
{% from "mixins/intro-image-text.html" import introImageText %}
{% from "mixins/dynamic-link.html" import dynamicLink %}
{% from "mixins/macros.html" import dropdownSvg %}

{% block head %}
	<title>Lyra | {{data.brand.name}}</title>
    <meta name="Description" content="{{data.brand.name}} garso aparatūra, prekės">
{% endblock %}

{% block intro %}
	{% set title = ( data.brand.name if data.brand else "Produktų katalogas" ) %}
	{% set text = ( data.brand.description | safe if data.brand.description else "Lorem. Curabitur feugiat ornare tellus sed tristique. Etiam fermentum enim nisl. Morbi a condimentum elit. Phasellus tincidunt augue et lectus malesuada hendrerit. Curabitur imperdiet leo eget orci tempor sagittis. Nulla facilisi. Etiam laoreet nunc et massa cursus bibendum. Cras sit amet pretium tortor. Etiam non sapien nec arcu fermentum rutrum. Pellentesque bibendum velit tellus, et dignissim elit rhoncus id." ) %}
	{% set img = ( data.brand.CoverImage.secure_url if data.brand.CoverImage.secure_url else "/images/products-page.jpg" ) %}
    {{introImageText(title, text, img)}}
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">
    <figure class="sort-bar__box push-vertical content-section">
    {% if data.brand %}
    {{dynamicLink(
        [{
            name: "Prekių ženklai",
            url: "/prekiu-zenklai/"
        },
        {
            name: data.brand.name,
            url: "/prekiu-zenklai/" + data.brand.key
        }]
    )}}
    {% endif %}
    {% include 'partials/sort.html' %}
</figure>
    {{sideNavigation("brand-page", data)}}
    <section class="products">
        {# looping through products #}
        {% for product in data.products %}
        {% include 'partials/product-item.html' %}
        {% endfor %}
    </section>
</div>
{# Variables stored so they could be used in server-side #}
<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-brand="{{data.brand.key}}"></div>
{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}