{% extends "layouts/default.html" %}

{% block intro %}
	<figure class="title">
		<h1>Brands</h1>
	</figure>
{% endblock %}

{% block content %}
	<section class="manufacturers content-section">
    {# Manufacturers are hidden default #}
    <ul class="">
        {% for manufacturer in manufacturers %}
        <li>
            <a href="#" class="manufacturers-box_item">
                <img src="{{manufacturer.image.secure_url}}" alt="">
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}