{% extends "layouts/default.html" %}
{% from "mixins/sideNavigation.html" import sideNavigation %}
{% from "mixins/intro-image-text.html" import introImageText %}
{% from "mixins/dynamic-link.html" import dynamicLink %}
{% from "mixins/macros.html" import dropdownSvg %}
{% from "mixins/sort-by-form.html" import sortByForm %}

{% block head %}
	<title>Lyra | {{data.brand.name}}</title>
    <meta name="Description" content="{{data.brand.name}} garso aparatūra, prekės">
{% endblock %}

{% block intro %}
    {{introImageText(data.brand, data.socialMedias)}}
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">
    <figure class="sort-bar__box push-vertical content-section">
    {% if data.brand %}
    {{dynamicLink(
        [{
            name: "Prekių ženklai",
            url: "/prekiu-zenklai/"
        },
        {
            name: data.brand.name,
            url: "/prekiu-zenklai/" + data.brand.key
        }]
    )}}
    {% endif %}
    {% if data.brand %}
        {# data.sort is here to track the current sort #}
        {{sortByForm('/prekiu-zenklai/' + data.brand.key, data.sort)}}
    {% endif%}
</figure>
    {{sideNavigation("brand-page", data)}}
    <section class="products products--threequarters">
        {# looping through products #}
        {% for product in data.products %}
            {% include 'partials/product-item.html' %}
        {% endfor %}
    </section>
</div>
{# Variables stored so they could be used in server-side #}
<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-brand="{{data.brand.key}}"></div>
{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}