{% extends "layouts/default.html" %}
{% from "mixins/moving-background.html" import movingBackground %}
{% from 'mixins/media-icons.html' import facebook, instagram %}
{% from 'mixins/changing-images.html' import changingImages %}
{% from 'mixins/macros.html' import blackLogo %}

{% block head %}
	<title>Kontaktai</title>
    <meta name="Description" content="Garso aparatūros konsultacija. Adresas kęstučio g. 26, Vilnius">
{% endblock %}

{% block intro %}
	<figure class="push-bottom">
		{# {{changingImages([
			'//images.unsplash.com/photo-1475872711536-95ec04b9d290?auto=compress,format&w=1440',
			'//images.unsplash.com/photo-1471696035578-3d8c78d99684?auto=compress,format&w=1440',
			'//images.unsplash.com/photo-1496861083958-175bb1bd5702?auto=compress,format&w=1440',
			'//images.unsplash.com/photo-1524388680868-377a2e6bbb1c?auto=compress,format&w=1440',
			'//images.unsplash.com/photo-1502164980785-f8aa41d53611?auto=compress,format&w=1440'
			])
		}} #}
		{{changingImages(data.images)}}
	</figure>
{% endblock %}

{% block content %}
	{% set fileExtension = ( "webp" if supportWebP else "jpg" ) %}

	{% if enquirySubmitted %}
		<h3>Ačiū, greitu metu perskaitysime jūsų žinutę</h3>
	{% else %}
		<section class="content-section content-center content-row content-wrap content-space-between push-bottom">
			<div class="expand content-half content-center content-wrap">
				<div class="content-half center push-bottom">
					{{blackLogo()}}
				</div>
				<div class="content-half center push-bottom">
					<p>KĘSTUČIO G. 26<br>
					LT-08115 VILNIUS</p>
					<p><a href="tel:+37052623596">(+370 5) 262 35 96</a><br>
					<a href="mailto:info@lyra.lt">INFO@LYRA.LT</a></p>
				</div>
				<div class="content-half center">
					<div>I - V: 10 - 19</div>
					<div>VI: 10 - 15</div>
					<div>VII: <span style="letter-spacing: -2px;">----------<span></div>
				</div>
				<div class="content-half center">
					<div class="media-icons content-center push-top--small">
                        <a class="media-icons__icon" aria-label="facebook" rel="noreferrer" href="https://www.facebook.com/SalonasLyra/" target="_blank">
                            {{ facebook("#1f1f1f", "#448AA6") }}
                        </a>
                        <a class="media-icons__icon" aria-label="instagram" rel="noreferrer" href="https://www.instagram.com/salonas_lyra/" target="_blank">
                            {{ instagram("#1f1f1f", "#448AA6") }}
                        </a>
                    </div>
				</div>
			</div>
			<div class="content-half">
				{% include 'partials/contact-form.html' %}
			</div>
		</section>
	{% endif %}

{# <figure class="title push-vertical">
    <h3>{{globaldata.invitation.sentence1}} <b>{{globaldata.invitation.strongword1}}</b> {{globaldata.invitation.sentence2}}<b> {{globaldata.invitation.strongword2}}</b></h3>
</figure> #}

{% include 'partials/googlemaps.html' %}

{{movingBackground(['S', 'a', 'l', 'o', 'n', 'a', 's'], data.description, '/images/contact2.' + fileExtension)}}

{% endblock %}
