{% extends "layouts/default.html" %}
{% from "mixins/moving-background.html" import movingBackground %}

{% block head %}
	<title>Kontaktai</title>
    <meta name="Description" content="Garso aparatūros konsultacija. Adresas kęstučio g. 26, Vilnius">
{% endblock %}

{% block intro %}
	<div class="title push-vertical">
		<h2>Susisiekite su mumis</h2>
	</div>
{% endblock %}

{% block content %}
	{% set fileExtension = ( "webp" if supportWebP else "jpg" ) %}

	{% if enquirySubmitted %}
		<h3>Ačiū, greitu metu perskaitysime jūsų žinutę</h3>
	{% else %}
        {% include 'partials/contact-form.html' %}
	{% endif %}

<figure class="title push-vertical">
    <h3>{{globaldata.invitation.sentence1}} <b>{{globaldata.invitation.strongword1}}</b> {{globaldata.invitation.sentence2}}<b> {{globaldata.invitation.strongword2}}</b></h3>
</figure>

{% include 'partials/googlemaps.html' %}

{{movingBackground(['S', 'a', 'l', 'o', 'n', 'a', 's'], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. In labore repellat nam architecto praesentium mollitia earum, adipisci hic illo ullam dolore, ea quod rerum vero iste, natus quidem ad aliquid!', '/images/contact2.' + fileExtension)}}

{% endblock %}
