{% extends "layouts/default.html" %}

{% block head %}
    <meta name="Description" content="Kokybiškos garso aparatūros parduotuvė. Stereo sistemos, namų kino ir multiroom įranga.">
    <meta name="theme-color" content="#1f1f1f">
	<title>{{ title|default("Lyra") }}</title>
{% endblock %}

{% block content %}
    <section id="manifesto" class="lazy" data-bg="url('/images/newmanifesto.jpg')">
        <h3 class="message" style="transition: all 0.5s ease;">
        <span class="invisible">Kruopščiai</span> 
        <span class="invisible">atrinkta</span> 
        <span class="invisible">audio</span> 
        <span class="invisible">aparatūra</span> 
        </h3>
    </section>

    <figure class="mini-navigation">
        <a href="/products/" class="mini-navigation__button lazy" data-bg="url(/images/mini-nav1.png)"><span>{{globaldata.mini_nav.button1}}</span></a>
        <a href="" class="mini-navigation__button lazy" data-bg="url(/images/mini-nav2.png)"><span>{{globaldata.mini_nav.button2}}</span></a>
        <a href="" class="mini-navigation__button lazy" data-bg="url(/images/mini-nav3.png)"><span>{{globaldata.mini_nav.button3}}</span></a>
    </figure>

    {% include 'partials/description.html' %}

    {# <figure class="title">
        <h3>{{globaldata.invitation.sentence1}} <span>{{globaldata.invitation.strongword1}}</span> {{globaldata.invitation.sentence2}} <span>{{globaldata.invitation.strongword2}}</span></h3>
    </figure> #}
    
    {% include 'partials/googlemaps.html' %}
    
    {% include 'partials/highlighted.html' %}
    
    {# {% include 'partials/manufacturers.html' %} #}

    {% include 'partials/instagram.html' %}

{% endblock %}

{% block js %}
    <script src="/js/dist/index.bundle.js"></script>
{% endblock %}