{% extends "layouts/default.html" %}

{% block head %}
	<title>{{ title|default("Lyra") }}</title>
{% endblock %}

{% block content %}
    <section id="manifesto">
        <h3 class="message">We sell <b>unique</b> audio equipment</h3>
        <div class="logo"></div>
    </section>

	<section class="highlighted content-section">
			<div class="highlighted__box">
            <h1 class="highlighted__box--title">Newest products</h1>
            {% for product in products %}
            {{product}}
            {% endfor %}
            </div>
	</section>

    <figure class="mini-navigation content-section">
        <a href="/products/" class="mini-navigation__button">All products</a>
        <a href="" class="mini-navigation__button">Discounted products</a>
    </figure>

    {# <script src="/js/manual/index.js"></script> #}
{% endblock %}
