{% extends "layouts/default.html" %}
{% from "mixins/highlighted-products.html" import highlightedProducts %}

{% block head %}
	<title>{{section}} | {{data.newsItem.title}}</title>
    <meta name="description" content="{{data.paragraph.title}}">
{% endblock %}

{% block content %}
    {% for paragraph in data.paragraphs %}
        {% if paragraph.images.length %}
            <div class="content-center content-column fullwidth-image">
                {# Media #}
                {% for image in paragraph.images %}
                    <img class="background-image lazy" data-src="{{image.secure_url}}" alt="{{paragraph.paragraphTitle}}">
                    {% if paragraph.textOnImage %}
                        <div class="message__square">
                            <p>{{ paragraph.textOnImage}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% set background = ( "bg-dark" if paragraph.style == "dark" ) %}
        <article class="{{background}}">
            <div class="content-section expand-vertical">
                <h1>{{paragraph.paragraphTitle}}</h1>
                <p>{{ paragraph.text | safe}}</p>
            </div>
        </article>

        {% if paragraph.awards.length %}
        <div class="content-center content-row push-bottom content-wrap">
            {% for award in paragraph.awards %}
                <a href="{{award.Url}}" class="push-horizontal--small"><img class="award-image" src="{{award.CoverImage.secure_url}}" title="{{award.name}}" alt=""></a>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}

    {% if data.relatedProducts.length %}
    <div class="content-section push-vertical">
        <h3 class="title">Susiję produktai</h3>
        {{highlightedProducts(data.relatedProducts)}}
    </div>
    {% endif %}
{% endblock %}
