{% extends "layouts/default.html" %}

{% block head %}
	<title>{{section}}</title>
    <meta name="Description" content="Nauji produktai. Svarbiausios garso aparatūros aktualijos">
{% endblock %}

{% block content %}
    {% for new in news %}
        <section class="fullwidth-image content-center content-column lazy" data-bg="url({{new.image.secure_url}})">
            <div class="message__square">
                <h3>{{ new.title }}</h3>
                <p>{{ new.description | safe}}</p>
            </div>
            {% if new.ButtonStyle == 'dark' %}
            <a class="button button--dark push-top--small">Skaityti daugiau ></a>
            {% else %}
            <a class="button button--light push-top--small">Skaityti daugiau ></a>
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}
