{% extends "layouts/default.html" %}

{% block head %}
	<title>Lyra | {{data.product.title}}</title>
{% endblock %}

{% block content %}

{# <div class="get-back content-section">
    <a href="/products">Atgal</a>
</div> #}

<section class="product content-section">

    <figure class="title">
        <h3>{{data.product.title}} - {{data.product.price}}€</h3>
    </figure>

{% if data.product.images.length >= 1 %}
    <section class="product-gallery">
        {# Highlighted image #}
        <div id="currentHighlight" class="items-box__item--main-image" style="background-image: url('{{data.product.images[0].secure_url}}')"></div>
        {# Extra image collection #}
        <figure class="items-box__item-images">
        {% for image in data.product.images %}
            <img class="items-box__item-images--item" src="{{image.secure_url}}" alt="">
        {% endfor %}
        </figure>
    </section>
{% else %}
<h4>Sorry, there are no images of this product</h4>
{% endif %}

    <section class="description-nav">
        <a class="description-nav__button normal active">Aprašymas</a>
        <a class="description-nav__button technical">Techninis aprašymas</a>
    </section>

    <article class="product-description description-normal">
        <div class="left-side">
            <h5>{{data.product.title}}</h5>
            <br>
            <h6>Gamintojas: <a href="/brands/{{data.product.Manufacturer.key}}" class="brown">{{data.product.Manufacturer.name}}</a></h6>
            <br>
            {% if data.product.description %}
            {{data.product.description|safe}}
            {% endif %}
        </div>
        <div class="right-side">
        Dėl šio produkto prašome susisiekti:
        <p>Tel.:<a href="tel:+37052623596"> (+370 5) 262 35 96</a></p>
        arba
        <p><a href="/contact/">asmenine žinute kontaktų puslapyje</a></p>
        </div>
    </article>

    <article class="description-technical hidden">
        <h5>{{data.product.title}} techninis aprašymas</h5>
        {% if data.product.TechnicalDescription %}
        {{data.product.TechnicalDescription|safe}}
        {% endif %}
    </article>
</section>

<figure class="title">
    <h3>{{globaldata.product.relatedTitle}}</h3>
</figure>

<section class="related-products content-section">
    {# looping through products #}
    {% for relatedproduct in data.relatedproducts %}
    {# product variables #}
    {% set manufacturerKey = relatedproduct.Manufacturer.key %}
    {% set manufacturerName = relatedproduct.Manufacturer.name %}
    {% set productTypeKey = relatedproduct.ProductType[0].key %}

    <div class="items-box__item">
    <a href="/products/{{manufacturerKey}}/{{productTypeKey}}/{{relatedproduct.slug}}">
        <div manufacturer="{{manufacturerName}}">
            {% if relatedproduct.images %}
                {# Main image #}
                <div class="items-box__item--main-image" style="background-image: url('{{relatedproduct.images[0].secure_url}}')"></div>
            {% endif %}
        </div>
    </a>
    <p>{{manufacturerName}} - {{relatedproduct.title}}</p>
    </div>
    {% endfor %}
</section>

{# {% include 'partials/googlemaps.html' %} #}

<script src="/js/manual/description.js"></script>
<script src="/js/manual/highlightProduct.js"></script>
{% endblock %}