{% from "mixins/macros.html" import emailIcon, messengerLogo %}
{% from "mixins/dynamic-link.html" import dynamicLink %}
{% from "mixins/highlighted-products.html" import highlightedProducts %}

{% extends "layouts/default.html" %}

{% set product = data.product %}

{% block head %}
	<title>Lyra | {{product.title}}</title>
    <meta name="Description" content="{{product.title}} produktas, susisiekite dėl daugiau informacijos">
{% endblock %}

{% block content %}
<div class="router-links content-section push-vertical">
    {{dynamicLink(data.dynamicLinkArr)}}
</div>

<section class="product content-section">
    {% if product.images.length >= 1 %}
    <section class="product-gallery">
        {# Highlighted image #}
        {% set hideHighlightedImage = ( "hidden" if product.Video.filename else "" ) %}
        <div id="currentHighlight" class="items-box__item--main-image {{hideHighlightedImage}}" style="background-image: url('{{product.images[0].secure_url}}')"
        data-images="{{data.productImages | dump}}" data-current-image="{{product.images[0].secure_url}}"></div>
        {# Extra image collection #}
        <figure class="items-box__item-images content-center">
        {% for image in product.images %}
            <img class="items-box__item-images--item" src="{{image.secure_url}}" alt="">
        {% endfor %}
        </figure>
    </section>

    {% else %}
    <h4>{{globaldata.errors.product_image}}</h4>
    {% endif %}
    <div class="product-description">
        <div class="description__top">
            
            <div class="description__top--logo description-item">
                <a title="{{product.Manufacturer.name}}" aria-label="{{product.Manufacturer.name}}" href="/prekiu-zenklai/{{product.Manufacturer.key}}">
                    <img class="image" src="{{product.Manufacturer.Logo.secure_url}}" alt="">
                </a>
            </div>

            <div class="description__top--title description-item">
                <h4>{{product.title | upper}}</h4>
                {% if product.CategoryNameForm == 'Plural' %}
                    <h4>{{product.ProductType[0].name}}</h4>
                {% elif product.CategoryNameForm == 'Singular' %}
                    <h4>{{product.ProductType[0].nameSingular}}</h4>
                {% endif %}
            </div>

            <div class="description__top--price push-vertical--small description-item">
                {% if product.Discount %}
                <h4 class="description__top--price"><b class="price-discount">{{product.Discount}}€</b> &nbsp<strike>{{product.price}}€</strike></h4>
                {% elif product.price > 0 %}
                <h4 class="description__top--price">{{product.price}}€</h4>
                {% endif %}
            </div>
        </div>

        <div class="description__bottom">
            {% if product.description %}
            {{product.description|safe}}
            {% endif %}
            
            {% if product.exteriorTrims.length > 0 %}
            <div class="push-top--medium">
                <h5>{{'Apdailos:' | upper}}</h5>
            </div>
            <div class="content-row">
                {% for trim in product.exteriorTrims %}
                    <img class="trim-image push-vertical--small" src="{{trim.image.secure_url}}" title="{{trim.name}}" alt="{{trim.name}}">
                {% endfor %}
            </div>
            {% endif %}

            <div class="push-top--medium">
                <p>Dėl šio produkto galime Jus pakonsultuoti <a href="tel:+37052623596"> (+370 5) 262 35 96</a>,
                mūsų salone <a href="/kontaktai/">Kęstučio g. 26, Vilnius</a> arba:
            </div>
            <div class="media-icons content-center push-top--small">
                <a class="media-icons__icon" aria-label="facebook" rel="noreferrer" href="https://www.facebook.com/SalonasLyra/" target="_blank">
                    {{ messengerLogo("#1f1f1f", "#448AA6", "30px", "30px") }}
                </a>
                <a class="media-icons__icon" aria-label="email" rel="noreferrer" href="mailto:info@lyra.lt?subject={{product.Manufacturer.name}} - {{product.title}}">
                    {{ emailIcon("#1f1f1f", "#448AA6", "30px", "30px") }}
                </a>
            </div>
        </div>
    </div>

    {% if product.awards.length > 0 %}
        <div class="product-awards">
            {% for award in product.awards %}
                <a href="{{award.Url}}"><img class="award-image" src="{{award.CoverImage.secure_url}}" title="{{award.name}}" alt=""></a>
            {% endfor %}
        </div>
    {% endif %}
</section>

{% if product.TechnicalDescription %}
    <div class="black-bg">
        <div class="product-description push-top--medium triple-flex content-section">
            <div class="triple-flex__box">{{product.FeaturesDescription | safe}}</div>
            <figure class="triple-flex__split"></figure>
            <div class="triple-flex__box">{{product.TechnicalDescription | safe}}</div>
        </div>
    </div>
{% endif %}

{% if product.YoutubeVideoLink %}
    <div class="content-section push-top--medium">
        <iframe width="100%" height="450px" src="{{product.YoutubeVideoLink}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
    </div>
{% endif %}

{% if product.ManufacturersDescriptionLink and product.UserManual %}
    <section class="content-section">
        <div class="double-flex">
            <a class="space-button link" href="{{product.ManufacturersDescriptionLink}}">Gamintojo puslapis: {{product.title}}</a>
            <a class="space-button link" href="{{product.UserManual}}">{{product.title}} vartotojo vadovas</a>
        </div>
    </section>
{% endif %}


<figure class="title push-vertical">
    <h3>{{globaldata.product.relatedTitle}}</h3>
</figure>
{# looping through products #}
{{highlightedProducts(data.relatedproducts)}}

<div class="title push-vertical"></div>

{% endblock %}

{% block js %}
    <script src="/js/dist/product.bundle.js"></script>
{% endblock %}