{% extends "layouts/default.html" %}

{% block head %}
	<title>{{globaldata.titles.products}}</title>
{% endblock %}

{% block intro %}
	{% set title = ( data.category.name if data.category else "Produktai" ) %}
    <div class="title">
        <h3>{{ title }}</h3>
    </div>
{% endblock %}

{% block content %}
<form class="search-form content-section" action="/products" method="get">
    <section class="search-box">
        <input class="search-input" name="search" type="text" placeholder="search for a product...">
        <button class="search-submit" type="submit">
    </section>
</form>

<figure class="sort-bar__box content-section">
    {% if data.category %}
    <form action="/products/{{data.category.key}}" method="get">
    {% else %}
    <form action="/products" method="get">
    {% endif %}
        <select name="filterlist" class="sort-bar__box--button" onchange="this.form.submit()">
            {% if data.sort == "price-high" %}
            <option>Kaina: aukščiausia</option>
            {% elif data.sort == "price-low" %}
            <option>Kaina: žemiausia</option>
            {% else %}
            <option>Rūšiuoti pagal</option>            
            {% endif %}
            {% if data.sort %}
            <option>Aktualumas</option>
            {% endif %}
            {% if data.sort != "price-high" %}<option value="price-high">Kaina: aukščiausia</option> {% endif %}
            {% if data.sort != "price-low" %}<option value="price-low">Kaina: žemiausia</option> {% endif %}
        </select>
    </form>
</figure>

<div class="products-wrapper content-section">
    {% if data.categories.length %}
        <aside class="side-nav">
            <div class="side-nav__list-box">
                {% set class = ( "active" if not data.category else "" ) %}
                <a href="/products" class="{{ class }} side-nav__list-box--item">All Categories</a>
                {% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
                            <a href="/products/{{ cat.key }}" class="{{ class }} side-nav__list-box--item">{{ cat.name }}
                            <small>{{cat.postCount}}</small></a>
                {% endfor %}
            </div>
        </aside>
    {% endif %}
    {# items box wrapper #}
    <section class="products">
            {# looping through products #}
            {% for product in data.products.results %}
            {# product variables #}
            {% set manufacturerKey = product.Manufacturer.key %}
            {% set manufacturerName = product.Manufacturer.name %}
            {% set productTypeKey = product.ProductType[0].key %}

            <div class="items-box__item">
            <a href="/products/{{manufacturerKey}}/{{productTypeKey}}/{{product.slug}}">
                <div manufacturer="{{manufacturerName}}">
                    {% if product.images %}
                        {# Main image #}
                        <div class="items-box__item--main-image" style="background-image: url('{{product.images[0].secure_url}}')">
                        </div>
                    {% endif %}
                </div>
            </a>
            <p class="items-box__item--description">{{product.title}} - {{manufacturerName}} <br>{{product.price}}€</p>
            </div>
            {% endfor %}
    </section>
</div>
{% if (data.products.totalPages > 1) and (data.products.results.length >= 9) %}
<section class="content-section center">
    <ul class="pagination">
        {% if data.products.previous %}
            <li>
                <a href="?page={{ data.products.previous }}&filterlist={{data.sort}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="?page=1&filterlist={{data.sort}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
        {% endif %}
        {% for p in data.products.pages %}
        {% set class = ( "active" if data.products.currentPage == p else "" ) %}
            <li class="{{ class }}">
                {% set page = ( (data.products.totalPages if i else 1) if p == "..." else p ) %}
                <a href="?page={{ page }}&filterlist={{data.sort}}">{{ p }}</a>
            </li>
        {% endfor %}
        {% if data.products.next %}
            <li>
                <a href="?page={{ data.products.next }}&filterlist={{data.sort}}">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="?page={{ data.products.totalPages }}">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        {% endif %}
    </ul>
</section>
{% endif %}

{% include 'partials/manufacturers.html' %}

{% endblock %}