{% from "mixins/macros.html" import loadingSpeakers %}
{% extends "layouts/default.html" %}

{% block head %}
    {% if data.category %}
    <title>Lyra | {{data.category.name}}</title>
    {% else %}
	<title>{{globaldata.titles.products}}</title>
    {% endif %}
    <meta name="Description" content="Garso aparatūros asortimentas, kruopščiai atrinkti kokybiški produktai">
{% endblock %}

{% block intro %}
	{% set title = ( data.category.name if data.category else "Produktų katalogas" ) %}
	{% set img = ( data.category.CoverImage.secure_url if data.category else "/images/products-page.jpg" ) %}
    <section class="products-intro" style="background-image: url({{img}})" data-type="parallax" data-speed="9">
        <h3 class="products-intro--title">{{ title }}</h3>
        <p class="products-intro--description">Lorem. Curabitur feugiat ornare tellus sed tristique. Etiam fermentum enim nisl. Morbi a condimentum elit. Phasellus tincidunt augue et lectus malesuada hendrerit. Curabitur imperdiet leo eget orci tempor sagittis. Nulla facilisi. Etiam laoreet nunc et massa cursus bibendum. Cras sit amet pretium tortor. Etiam non sapien nec arcu fermentum rutrum. Pellentesque bibendum velit tellus, et dignissim elit rhoncus id.</p>
    </section>
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">
{% include 'partials/sort.html' %}
    {% include 'partials/sideNavigation.html'%}

    {# items box wrapper #}
    <section class="products">
            {# looping through products #}
            {% for product in data.products %}
            {# {{product.images[0].secure_url}} #}
            {# product variables #}
            {% include 'partials/product-item.html' %}
            {% endfor %}
    </section>
</div>
{# Loading screen for products #}
    {{ loadingSpeakers("#1f1f1f", "#448AA6") }}
    {# {% include 'partials/loadingspinner.html' %} #}

<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-search="{{filters.search}}"></div>

{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}