{% extends "layouts/default.html" %}
{% from "mixins/sideNavigation.html" import sideNavigation %}
{% from "mixins/section-text-on-image.html" import textOnImage %}
{% from "mixins/dynamic-link.html" import dynamicLink %}
{% from "mixins/sort-by-form.html" import sortByForm %}

{% block head %}
	<title>{{section}}</title>
    <meta name="Description" content="Specialūs pasiūlymai, žemesnės kainos produktams">
{% endblock %}

{% block intro %}
    {% set title = ( data.category.name if data.category else "Specialūs pasiūlymai" ) %}
	{% set text = ( data.category.description if data.category.description else "Lorem. Curabitur feugiat ornare tellus sed tristique. Etiam fermentum enim nisl. Morbi a condimentum elit. Phasellus tincidunt augue et lectus malesuada hendrerit. Curabitur imperdiet leo eget orci tempor sagittis. Nulla facilisi. Etiam laoreet nunc et massa cursus bibendum. Cras sit amet pretium tortor. Etiam non sapien nec arcu fermentum rutrum. Pellentesque bibendum velit tellus, et dignissim elit rhoncus id." ) %}
    {% set fileExtension = ( "webp" if supportWebP else "jpg" ) %}
    {{ textOnImage(title, text, "/images/products-page." + fileExtension) }}
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">

<figure class="sort-bar__box push-vertical content-section">
    {% if data.category %}
    {{dynamicLink(
        [{
            name: "pasiūlymai",
            url: "/pasiulymai/"
        },
        {
            name: data.category.name,
            url: "/pasiulymai/" + data.category.key
        }]
    )}}
    {% endif %}
    {% if data %}
        {# data.sort is here to track the current sort #}
        {{sortByForm('/pasiulymai/', data.sort)}}
    {% elif data.discounts and data.category %}
        {{sortByForm('/pasiulymai/' + data.category.key, data.sort)}}
    {% endif%}
</figure>
    
    {{sideNavigation("special-offers-page", data)}}
{# items box wrapper #}
    <section class="products products--fullwidth">
            {# looping through products #}
            {% for product in data.products %}
            {% include 'partials/product-item.html' %}
            {% endfor %}
    </section>
</div>
{# Variables stored so they could be used in server-side #}
<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-brand="{{data.brand.key}}" data-discounts="true"></div>
{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}