{% extends "layouts/default.html" %}
{% from "mixins/sideNavigation.html" import sideNavigation %}

{% block head %}
	<title>{{section}}</title>
    <meta name="Description" content="Specialūs pasiūlymai, žemesnės kainos produktams">
{% endblock %}

{% block intro %}
    <div class="content-section" style="text-align: center;">
        <h3 class="title">{{section}}</h3>
    </div>
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">
    {% include 'partials/sort.html' %}
    
    {{sideNavigation("brand-page", data)}}

    {% include 'partials/products-list.html' %}
</div>
{# Variables stored so they could be used in server-side #}
<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-brand="{{data.brand.key}}" data-discounts="true"></div>
{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}