{% extends "layouts/default.html" %}
{% from "mixins/sideNavigation.html" import sideNavigation %}

{% block head %}
	<title>{{section}}</title>
    <meta name="Description" content="Specialūs pasiūlymai, žemesnės kainos produktams">
{% endblock %}

{% block intro %}
    {% set title = ( data.category.name if data.category else "Specialūs pasiūlymai" ) %}
	{% set img = ( data.category.CoverImage.secure_url if data.category else "/images/products-page.jpg" ) %}
    <section class="products-intro" style="background-image: url({{img}})" data-type="parallax" data-speed="9">
        <h3 class="products-intro--title">{{ title }}</h3>
        <p class="products-intro--description">Lorem. Curabitur feugiat ornare tellus sed tristique. Etiam fermentum enim nisl. Morbi a condimentum elit. Phasellus tincidunt augue et lectus malesuada hendrerit. Curabitur imperdiet leo eget orci tempor sagittis. Nulla facilisi. Etiam laoreet nunc et massa cursus bibendum. Cras sit amet pretium tortor. Etiam non sapien nec arcu fermentum rutrum. Pellentesque bibendum velit tellus, et dignissim elit rhoncus id.</p>
    </section>
{% endblock %}

{% block content %}
<div class="products-wrapper content-section">
    {% include 'partials/sort.html' %}
    
    {{sideNavigation("special-offers-page", data)}}

    {% include 'partials/products-list.html' %}
</div>
{# Variables stored so they could be used in server-side #}
<div class="variables" data-sort="{{data.sort}}" data-category="{{data.category.key}}" data-count="{{data.products.results.length}}" data-brand="{{data.brand.key}}" data-discounts="true"></div>
{% endblock %}

{% block js %}
    <script src="/js/dist/products.bundle.js"></script>
{% endblock %}