@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@keyframes animatedBackground {
	0% {
		// background-position: 0px 0;
		background-position: left;
	}
	50% {
		// background-position: 1600px 0;
		background-position: right;
	}
	100% {
		// background-position: 0px 0;
		background-position: left;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.3s ease-in 1 forwards;
	transition-duration: 0.3s;
}
.fade-out {
	opacity: 1;
	animation: fadeOut 0.3s ease-in 1 forwards;
	transition-duration: 0.3s;
}
.fall {
	animation: dropdown 0.5s linear;
}
#changing-container {
	height: 45vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.changing-image {
	width: 100%;
	position: absolute;
	transition: opacity .5s ease-in;
	object-fit: cover;
	height: 100%;
}

.changing-image + .changing-image { opacity: 0; }

@keyframes getBigger {
	to {
		opacity: 1;
		height: 150px;
	}
}
.bounce {
	animation-name: bounce;
	animation-timing-function: ease;
	animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
	0%   { transform: scale(1,1)    translateY(0); }
	10%  { transform: scale(1.1,.9) translateY(0); }
	30%  { transform: scale(.9,1.1) translateY(-10px); }
	50%  { transform: scale(1,1)    translateY(1px); }
	57%  { transform: scale(1,1)    translateY(-3px); }
	100% { transform: scale(1,1)    translateY(0); }
}

@keyframes fall {
	0% {
		transform: translateY(-15px);
	}
	25%,
	75% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

@keyframes dropdown {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		transform: translateX(0);
		opacity: 1;
		height: auto;
	}
}

/* Spinner 6 ends here */

@media (max-width: 600px) {
	.container {
		align-items: center;
		flex-direction: column;
	}
}
