@font-face {
    font-family: AzoSansLight;
    src: url('/fonts/azosans-light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AzoSansBold;
    src: url('/fonts/azosans-bold.otf');
    font-weight: bold;
    font-style: bold;    
}

@font-face {
    font-family: AzoSansThin;
    src: url('/fonts/azosans-thin.otf');
    font-weight: thin;
    font-style: thin;
}

* {
    font-family: AzoSansLight;
}

p {
    line-height: 1.5em;
    font-size: 12pt;
}

body {
    font-size: 12pt;
    line-height: 1.25em;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 1.75em;
}
h4, h5, h6 {
    font-size: 1.125em;
}
