@font-face {
	font-family: 'AzoSans';
	src: url('/fonts/azosans-light.otf');
	font-weight: 300;
	font-style: normal;
	// font-display: fallback;
}

@font-face {
	font-family: 'AzoSans';
	font-display: auto;
	src: url('/fonts/azosans-bold.otf');
	font-weight: bold;
	// font-display: fallback;
}

@font-face {
	font-family: 'AzoSans';
	font-display: auto;
	src: url('/fonts/azosans-thin.otf');
	font-weight: thin;
	// font-display: fallback;
}

* {
	font-family: 'AzoSans';
}

p {
	line-height: 1.5em;
	font-size: 12pt;
}

.text--medium {
	font-size: 1.5em;
	height: 20px;
}
.text--large {
	font-size: 2.25em;
}
body {
	font-size: 12pt;
	line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.5;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}
h5,
h6 {
	font-size: 1.125em;
}
