@import 'colors';
@import 'mixins';
@import 'layout';
@import 'animations';
@import 'fonts';
@import 'svgs';

a {
	text-decoration: none;
	color: map-get($color, blue);
	font-weight: 300;
}

.title {
	text-align: center;
}

.push-top {
	margin-top: 50px;
}

.push-bottom {
	margin-bottom: 50px;
}

.push-vertical {
	margin: 50px auto;
}

.center {
	text-align: center;
}

.router-links {
	margin: 50px auto;
	text-align: right;
	font-size: 0.8em;
	font-weight: 300;
}

.link {
	color: map-get($color, darkgrey);
	&:hover {
		color: map-get($color, link-blue);
	}
}

.space-button {
	margin: 30px;
	border-bottom: 1px solid map-get($color, lightgrey);
	font-size: 1.2em;
}

b {
	color: map-get($color, blue);
}

.brown {
	color: map-get($color, brown);
}

.dropdownSVG {
	fill: white;
	width: 50px;
	margin: 10px;
	transition-duration: 1s;
}

.rotate {
	transform: rotate(180deg);
	transition-duration: 0.3s;
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

input[type='text'] {
	outline: none;
	padding: 0 12px;
}

ul {
	-webkit-padding-start: 0;
}

small {
	font-size: 0.7em;
}

button:active,
button:focus,
a:focus,
button:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.black-bg {
	width: 100%;
	background-color: map-get($color, darkgrey);
	color: white;
}

figure {
	margin: 0;
}
