@import 'colors';
@import 'mixins';
@import 'layout';
@import 'animations';
@import 'fonts';
a {
	color: map-get($color, blue);
	&:hover {
		text-decoration: none;
	}
}

.title {
	text-align: center;
	margin: 50px 0;
}

.center {
	text-align: center;
}

b {
	color: map-get($color, blue);
}

.brown {
	color: map-get($color, brown);
}

.dropdownSVG {
	fill: white;
	width: 50px;
	margin: 10px;
	transition-duration: 1s;
}

.rotate {
	transform: rotate(180deg);
	transition-duration: 1s;
}

.hidden {
	display: none;
}

input[type=text] {
	outline: none;
	padding: 0 12px;
}

ul {
	-webkit-padding-start: 0;
}

small {
	font-size: 0.7em;
}
