@import 'colors';
@import 'mixins';
@import 'layout';
@import 'animations';
@import 'fonts';
@import 'svgs';

a {
	text-decoration: none;
	color: map-get($color, link-blue);
	font-weight: 300;
}

.content {
	&-center {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}
	&-column {
		position: relative;
		flex-direction: column;
	}
	&-row {
		flex-direction: row;
	}
	&-space-between {
		justify-content: space-between;
	}
	&-wrap {
		flex-wrap: wrap;
	}
	&-half {
		flex-basis: 48%;
		@media screen and (max-width: $window-medium) {
			flex-basis: 100%;
		}
	}
}

.media-icons {
	flex-direction: row;
	&__icon {
		margin: 0 7px;
		&:hover {
			opacity: 0.6;
			transition: ease-out 0.2s;
		}
	}
}

p {
	margin: 0;
}
.title {
	text-align: center;
}

.push {
	margin: 50px;
	&-top {
		margin-top: 50px;
		&--small {
			margin-top: 15px;
		}
		&--medium {
			margin-top: 30px;
		}
	}
	&-bottom {
		margin-bottom: 50px;
		&--small {
			margin-bottom: 15px;
		}
	}
	&-vertical {
		margin: 50px auto;
		&--small {
			margin: 15px 0;
		}
		&--medium {
			margin: 30px auto;
		}
	}
	&-horizontal {
		margin: auto 50px;
		&--small {
			margin: 0 15px;
		}
	}
}

.expand {
	padding: 50px;
	&-vertical {
		padding: 50px 0;
	}
}

.center {
	text-align: center;
}

.router-links {
	font-size: 0.9em;
	font-weight: 300;
}

.link {
	color: map-get($color, darkgrey);
	&:hover {
		color: map-get($color, link-blue);
	}
}
.link--active {
	color: map-get($color, link-blue);
}

.button {
	border: none;
	padding: 8px 28px;
	cursor: pointer;
	line-height: 12pt;
	transition-duration: 0.2s;
	&:hover {
		opacity: 0.8;
	}
	&--dark {
		background-color: map-get($color, darkgrey);
		color: map-get($color, white);
	}
	&--light {
		border: 3px solid map-get($color, white);
		color: map-get($color, white);
	}
	&--transparent {
		border: 1px solid map-get($color, darkgrey);
		background-color: transparent;
		font-weight: 200;
		color: map-get($color, darkgrey);
	}
}



.space-button {
	margin: 30px;
	border-bottom: 1px solid map-get($color, lightgrey);
	font-size: 1.2em;
}

b {
	color: map-get($color, blue);
}

.brown {
	color: map-get($color, brown);
}

.dropdownSVG {
	fill: white;
	width: 50px;
	margin: 10px;
	transition-duration: 1s;
}

.rotate {
	transform: rotate(180deg);
	transition-duration: 0.3s;
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

input[type='text'] {
	outline: none;
	padding: 0 12px;
}

ul {
	-webkit-padding-start: 0;
}

small {
	font-size: 0.7em;
}

button:active,
button:focus,
a:focus,
button:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.black-bg {
	width: 100%;
	background-color: map-get($color, darkgrey);
	color: white;
}

figure {
	margin: 0;
}