.content-section {
	max-width: 1124px;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 1;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 1123px) {
	.content-section {
		width: 95%;
	}
}
