$window-small: 400px;
$window-small-medium: 600px;
$window-medium: 800px;
$window-medium-large: 1000px;
$window-large: 1123px;
$window-large-xlarge: 1400px;

.content-section {
	max-width: 1124px;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 1;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: $window-large) {
	.content-section {
		width: 92%;
	}
}
