// Dark Arrow
.cls-1 { fill: #1f1f1f;stroke-width: 0px; transition-duration: 90ms; }
.subcategory-box__item--svg:hover > .cls-1 { stroke:#1f1f1f; stroke-miterlimit:50;stroke-width:.2px; transition-duration: 90ms; }

// White Arrow
.cls-white { fill: #ffffff; stroke-width: 0px; transition-duration: 90ms; }