<form class="form content-section" method="post">
    <input type="hidden" name="action" value="contact">
    <div class="form__leftbox">
        <input class="form__input" type="text" name="name.full" value="{{ formData["name.full"] }}" placeholder="Vardas">
        <input class="form__input push-vertical--small" type="email" name="email" value="{{ formData.email }}" placeholder="Email adresas">
        <input class="form__input" type="text" name="phone" value="{{ formData.phone }}" placeholder="Telefonas (nebūtina)">
    </div>
    <div class="form__rightbox">
        <textarea class="form__textarea" name="message" type="text" value="{{ formData.message }}" placeholder="Žinutė"></textarea>
    </div>
    <div class="confirm-button">
		<button type="submit" class="button button--dark">Siūsti</button>
	</div>
</form>