<form class="contact-form content-section" method="post">
    <input type="hidden" name="action" value="def">
    <div class="contact-form__leftbox">
        <input class="contact-form__leftbox--input" type="text" name="name.full" value="{{ formData["name.full"] }}" placeholder="Vardas">
        <input class="contact-form__leftbox--input middle" type="email" name="email" value="{{ formData.email }}" placeholder="Email adresas">
        <input class="contact-form__leftbox--input" type="text" name="phone" value="{{ formData.phone }}" placeholder="Telefonas (nebūtina)">
    </div>
    <div class="contact-form__rightbox">
        <textarea class="contact-form__rightbox--textarea" name="message" type="text" value="{{ formData.message }}" placeholder="Žinutė"></textarea>
    </div>
    <div class="confirm-button">
		<button type="submit">Siūsti</button>
	</div>
</form>