<section class="description-box">
    {# <h4 class="title">{{globaldata.about.title1}}</h4> #}
    <div class="description-box__title">
        <div>L</div>
        <div>y</div>
        <div>r</div>
        <div>a</div>
    </div>

    <div class="description-box__item--text">
        <p>{{globaldata.about.description1}}</p>
    </div>

    {# <div class="contact-box__item--text">
        <p>{{globaldata.about.description2}}</p>
        {{globaldata.about.working_hr1}}<br>
        {{globaldata.about.working_hr2}}<br>
        {{globaldata.about.working_hr3}}</p>
    </div> #}
</section>