<footer id="footer">
    <section class="content-section">
        <section class="footer__box footer__box--left">
            <a href="/contact" >Kontaktai</a><br>
            <a href="/contact" >Visi prekių ženklai</a>
            <p>&copy; Lyra 2018 by <a href="https://github.com/ankeris" rel="noreferrer" target="_blank">JR</a></p>
        </section>
        <section class="footer__box footer__box--middle">
            <p>
            I - V: 10 - 19 <br>
            VI: 10 - 15 <br>
            VII: nedirbame
            </p>
        </section>
        <section class="footer__box footer__box--right">
            <a aria-label="facebook" rel="noreferrer" href="https://www.facebook.com/SalonasLyra/" target="_blank"><img src="/images/f_icon.svg" alt="facebook"></a>
            <a aria-label="instagram" rel="noreferrer" href="https://www.instagram.com/salonas_lyra/" target="_blank"><img src="/images/insta_icon.png" alt="instagram"></a>
        </section>
    </section>
</footer>