<section class="highlighted-products content-section">
    {# looping through products #}
    {% for product in products %}
    {# product variables #}
    {% set manufacturerKey = product.Manufacturer.key %}
    {% set manufacturerName = product.Manufacturer.name %}
    {% set productTypeKey = product.ProductType[0].key %}
    <div class="items-box__item">
    <a aria-label="{{product.title}}" title="{{product.title}}" href="/products/{{manufacturerKey}}/{{productTypeKey}}/{{product.slug}}">
            {% if product.images %}
                {# Main image #}
                <div class="items-box__item--main-image lazy" data-bg="url({{product.images[0].secure_url}})">
                </div>
            {% endif %}
    </a>
    <p class="items-box__item--description">{{manufacturerName}} - {{product.title}} <br>{{product.price}}€</p>
    </div>
    {% endfor %}
</section>