{% from "mixins/macros.html" import searchIcon %}
{# Fake nav is there to push whole layout 50px down #}
<div class="fakenav"></div>
{# Actual Navigation #}
<header class="main-navigation">
	<div class="content-section">
        {# burger menu #}
        <figure class="main-navigation__burger">
            <div class="main-navigation__burger--stripe"></div>
            <div class="main-navigation__burger--stripe"></div>
            <div class="main-navigation__burger--stripe"></div>
        </figure>
		<ul class="main-navigation__box">
		    {% for link in navLinks %}
		    	<li class="navigation__item {{ 'active' if link.key == section else '' }}">
		    		<a class="navigation__item--button" href="{{ link.href }}">{{ link.label }}</a>
		    	</li>
		    {% endfor %}
            <li class="navigation__item search-bar">
                {{ searchIcon("#1f1f1f", "#448AA6") }}
                <form class="navigation__search-form content-section" action="/products/" method="get">
                    <input id="search-input" class="hidden" name="search" type="text" placeholder="produktas">
                </form>
            </li>
		</ul>
    </div>
</header>
<div class="container">
</div>