<section class="manufacturers  content-section">
    <div class="clickable__block">
        <h3 class="partners__item">Brands we offer</h3>
        <img src="/images/dropdown.svg" alt="" class="dropdownSVG">
    </div>
    <section style="display: none;">
    <ul class="">
        {% for manufacturer in manufacturers %}
        <li>
            <a href="#" class="manufacturers-box_item">
                <img src="{{manufacturer.image.secure_url}}" alt="">
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>
</section>