{% set manufacturerKey = product.Manufacturer.key %}
{% set manufacturerName = product.Manufacturer.name %}
{% set productTypeKey = product.ProductType.key %}
{% set productType = product.ProductType.name %}
{% set productTypeSingular = product.ProductType.nameSingular %}

<a class="items-box__item content-center fade-in" aria-label="{{product.title}}" title="{{product.title}}" href="/produktai/{{manufacturerKey}}/{{productTypeKey}}/{{product.slug}}">
    {% if product.images[0] %}
        {# Main image #}
            {% for image in product.images %}
                {% if loop.index > 1 %}
                <img class="items-box__item--main-image" alt="{{product.title}}" src="{{image.secure_url}}"></img>
                {% else %}
                <img class="items-box__item--main-image show" alt="{{product.title}}" src="{{image.secure_url}}"></img>
                {% endif %}
            {% endfor %}
    {# If product does not have image #}
    {% elif not product.images[0] %}
        <div class="no-image-err">
            <p>{{globaldata.errors.product_image}}</p>
        </div>
    {% endif %}
    <p class="items-box__item--description">
        <span class="items-box__item--description-title">{{manufacturerName | upper}} - {{product.title | upper}}</span>
        <br>
        {% if productTypeSingular %}
            <span class="items-box__item--description-type">{{productTypeSingular | lower}}</span>
            {% else %}
            <span class="items-box__item--description-type">{{productType | lower}}</span>
        {% endif %}
        <br>
        {% if product.Discount %}
        <span class="items-box__item--description-price"><b class="price-discount">{{product.Discount}}€</b> &nbsp<strike>{{product.price}}€</strike></span>
        {% elif product.price %}
        <span class="items-box__item--description-price">{{product.price}}€</span>
        {% endif %}
    </p>
</a>