{% if data.categories.length %}
        <div class="mobile-side-nav">
            <div class="subcategory-box__item--text">Kategorijos <small style="display: none"></small></div>
            <img class="subcategory-box__item--svg" src="/images/dropdown-blue.svg" alt="">
        </div>
        <aside class="side-nav">
            <div class="side-nav__box">
                {% set class = ( "active" if not data.category else "" ) %}
                <div id="manufacturers-dropdown" class="side-nav__list-box--item navigation-dropdown ">
                    <div class="subcategory-box__item--text">Gamintojai <small style="display: none"></small></div>
                    <img class="subcategory-box__item--svg" src="/images/dropdown-blue.svg" alt="">
                </div>
                <div class="subcategory-box" style="display: none;">
                {% for manufacturer in manufacturers %}
                    <a href="/brands/{{manufacturer.key}}" class="subcategory-box__item">
                        {{manufacturer.name}}
                        <small></small>
                    </a>
                {% endfor %}
                </div>

                <a href="/products" class="{{ class }} side-nav__list-box--item">Visi produktai</a>
                {% for cat in data.categories %} 
                {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
                {% set dropdown = ( "navigation-dropdown" if cat.IsParentCategory else "" ) %}
                {% set ChildCategoryOfActive = "display: block;" if data.category.ChildCategoryOf.key == cat.key else "display: none;" %}
                    {% if not cat.ChildCategoryOf %}
                        {% if cat.IsParentCategory %}
                        <div class="{{ class }} {{dropdown}} side-nav__list-box--item" data-category="{{cat.name}}">
                            <div class="subcategory-box__item--text">{{ cat.name }} <small></small></div>
                            <img class="subcategory-box__item--svg" src="/images/IconDown.svg" alt="">
                        </div>
                        {% else %}
                        <a href="/products/{{ cat.key }}" class="{{ class }} {{dropdown}} side-nav__list-box--item">
                            {{ cat.name }}
                            <small>{{cat.postCount}}</small>
                        </a>
                        {% endif %}
                        {% if cat.IsParentCategory %}
                            <div class="subcategory-box" style="{{ChildCategoryOfActive}}">
                            {% for subCat in data.categories %}
                            {% set subClass = ( "active" if data.category and data.category.id == subCat.id else "" ) %}
                                {% if cat.key === subCat.ChildCategoryOf.key %}
                                    <a href="/products/{{ subCat.key }}" class="{{ subClass }} subcategory-box__item" data-parent="{{cat.key}}">
                                    {{subCat.name}}
                                    <small>{{subCat.postCount}}</small>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </aside>
    {% endif %}