{% if data.categories.length %}
        <aside class="side-nav">
            <div class="side-nav__box">
                {% set class = ( "active" if not data.category else "" ) %}
                {# {% set hasSubCategories = ( "navigation-dropdown" if. . . else "" ) %} #}
                <div class="manufacturers-dropdown navigation-dropdown">
                    Gamintojai
                    <img src="/images/dropdown.svg" alt="" class="dropdownSVG">
                </div>
                <section class="subcategory-box" style="display: none;">
                {% for manufacturer in manufacturers %}
                    <a href="/brands/{{manufacturer.key}}" class="subcategory-box__item">
                        {{manufacturer.name}}
                    </a>
                {% endfor %}
                </section>
                <a href="/products" class="{{ class }} side-nav__list-box--item">Visi produktai</a>
                {% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
                    {% if not cat.ChildCategoryOf %}
                        <a href="/products/{{ cat.key }}" class="{{ class }} side-nav__list-box--item">{{ cat.name }}
                            <small>{{cat.postCount}}</small>
                        </a>
                    {% endif %}

                    {% for subCat in data.categories %}
                        {% if cat.key === subCat.ChildCategoryOf.key %}
                            <a href="" class="subcategory-box__item {{cat.key}}">{{subCat.name}}</a>
                        {% endif %}
                    {% endfor %}
                        
                {% endfor %}
            </div>
        </aside>
    {% endif %}