<figure class="sort-bar__box push-vertical content-section">
    {% if data.category and not data.discounts %}
    <form class="form_box" action="/produktai/{{data.category.key}}" method="get">
    {% elif data.brand %}
    <form class="form_box" action="/prekiu-zenklai/{{data.brand.key}}" method="get">
    {% elif data.category and data.discounts %}
    <form class="form_box" action="/pasiulymai/{{data.category.key}}/" method="get">
    {% elif data.discounts %}
    <form class="form_box" action="/pasiulymai/" method="get">
    {% elif filters.search %}
    <form class="form_box" action="/produktai/?search={{filters.search}}" method="get">
    {% else %}
    <form class="form_box" action="/produktai/" method="get" >
    {% endif %}
        <select name="filterlist" class="sort-bar__box--button" onchange="this.form.submit()">
            {% if data.sort == "price-high" %}
            <option>Kaina: aukščiausia</option>
            {% elif data.sort == "price-low" %}
            <option>Kaina: žemiausia</option>
            {% else %}
            <option>Rūšiuoti pagal</option>
            {% endif %}
            {% if data.sort %}
            <option>Aktualumas</option>
            {% endif %}
            {% if data.sort != "price-high" %}<option value="price-high">Kaina: aukščiausia</option> {% endif %}
            {% if data.sort != "price-low" %}<option value="price-low">Kaina: žemiausia</option> {% endif %}
        </select>
    </form>
</figure>