@import url(3rd-party/normalize/normalize.css);
@import url(3rd-party/photo-swipe/default-skin.css);
@import url(3rd-party/photo-swipe/photoswipe.css);
.content-section {
  max-width: 1124px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 1123px) {
  .content-section {
    width: 95%; } }

@keyframes fadeIn {
  to {
    opacity: 1; } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

@keyframes animatedBackground {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
  transition-duration: 0.5s; }

@keyframes getBigger {
  to {
    margin: 35px auto;
    opacity: 1; } }

@keyframes fall {
  0% {
    transform: translateY(-15px); }
  25%,
  75% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }

/* Spinner 6 ends here */
@media (max-width: 600px) {
  .container {
    align-items: center;
    flex-direction: column; }
  .canvas {
    margin: 1em; } }

@font-face {
  font-family: 'AzoSans';
  src: url("/fonts/azosans-light.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AzoSans';
  font-display: auto;
  src: url("/fonts/azosans-bold.otf");
  font-weight: bold; }

@font-face {
  font-family: 'AzoSans';
  font-display: auto;
  src: url("/fonts/azosans-thin.otf");
  font-weight: thin; }

* {
  font-family: 'AzoSans'; }

p {
  line-height: 1.5em;
  font-size: 12pt; }

body {
  font-size: 12pt;
  line-height: 1.6em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5,
h6 {
  font-size: 1.125em; }

.cls-1 {
  fill: #1f1f1f;
  stroke-width: 0px;
  transition-duration: 90ms; }

.subcategory-box__item--svg:hover > .cls-1 {
  stroke: #1f1f1f;
  stroke-miterlimit: 50;
  stroke-width: .2px;
  transition-duration: 90ms; }

.cls-white {
  fill: #ffffff;
  stroke-width: 0px;
  transition-duration: 90ms; }

a {
  text-decoration: none;
  color: #5f4ef0;
  font-weight: 300; }

.title {
  text-align: center; }

.push-top {
  margin-top: 50px; }

.push-bottom {
  margin-bottom: 50px; }

.push-vertical {
  margin: 50px auto; }

.center {
  text-align: center; }

.router-links {
  font-size: 0.9em;
  font-weight: 300; }

.link {
  color: #1f1f1f; }
  .link:hover {
    color: #5f4ef0; }

.link--active {
  color: #5f4ef0; }

.space-button {
  margin: 30px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.2em; }

b {
  color: #448aa6; }

.brown {
  color: #8c543f; }

.dropdownSVG {
  fill: white;
  width: 50px;
  margin: 10px;
  transition-duration: 1s; }

.rotate {
  transform: rotate(180deg);
  transition-duration: 0.3s; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

input[type='text'] {
  outline: none;
  padding: 0 12px; }

ul {
  -webkit-padding-start: 0; }

small {
  font-size: 0.7em; }

button:active,
button:focus,
a:focus,
button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.black-bg {
  width: 100%;
  background-color: #1f1f1f;
  color: white; }

figure {
  margin: 0; }

footer {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #eeeeee;
  background-color: #fff;
  font-weight: 300; }
  footer p {
    color: #1f1f1f; }
  footer .content-section {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .content-section .footer__box a img {
      margin-left: 10px;
      margin-bottom: 10px;
      width: 50px;
      height: 50px; }
    footer .content-section .footer__box--left {
      text-align: left;
      flex-basis: 23%; }
    footer .content-section .footer__box--middle {
      justify-content: left;
      flex-basis: 20%; }
      footer .content-section .footer__box--middle p {
        width: 100px;
        text-align: right; }
    footer .content-section .footer__box--right {
      flex-basis: 40%; }
      footer .content-section .footer__box--right .newsletter {
        width: 100%; }
        footer .content-section .footer__box--right .newsletter .newsletter__box {
          display: flex;
          flex-wrap: wrap;
          margin: 15px 0; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--text {
            flex-basis: 100%;
            margin-top: 0;
            margin-bottom: 5px; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input {
            width: 85%; }
            footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input {
              width: 95%;
              height: 30px;
              padding: 2px 8px;
              margin: 0;
              border: none;
              background-color: #1f1f1f; }
              footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input::placeholder {
                color: #fff; }
              footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input[type] {
                color: #fff; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--button {
            width: 15%;
            text-align: center;
            cursor: pointer; }
          footer .content-section .footer__box--right .newsletter .newsletter__box input[type='submit'] {
            display: none; }

.media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  .media-icons .media-icons__icon {
    margin: 4px 7px; }
    .media-icons .media-icons__icon:hover {
      opacity: 0.6;
      transition: ease-out 0.2s; }

@media screen and (max-width: 600px) {
  footer .content-section {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap-reverse; }
    footer .content-section .footer__box a img {
      margin-left: 10px;
      margin-bottom: 10px;
      width: 50px;
      height: 50px; }
    footer .content-section .footer__box--left {
      text-align: left;
      flex-basis: 50%; }
    footer .content-section .footer__box--middle {
      text-align: right;
      flex-basis: 50%; }
    footer .content-section .footer__box--right {
      flex-basis: 100%; }
      footer .content-section .footer__box--right .newsletter {
        width: 100%; }
        footer .content-section .footer__box--right .newsletter .newsletter__box {
          display: flex;
          flex-wrap: wrap; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--text {
            flex-basis: 100%; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input {
            width: 85%; }
            footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input {
              width: 95%;
              height: 30px;
              padding: 0 5px;
              margin: 0; }
              footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input::placeholder {
                color: #fff; }
              footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--input input[type] {
                color: #fff; }
          footer .content-section .footer__box--right .newsletter .newsletter__box .newsletter__box--button {
            width: 15%;
            text-align: center;
            cursor: pointer; }
          footer .content-section .footer__box--right .newsletter .newsletter__box input[type='submit'] {
            display: none; }
      footer .content-section .footer__box--right .media-icons {
        text-align: center;
        margin: 20px; } }

.manufacturers {
  text-align: center; }
  .manufacturers .partners__item,
  .manufacturers .presentation__item {
    margin: 0;
    padding: 5px 0; }
  .manufacturers .clickable__block {
    cursor: pointer;
    background-color: #1f1f1f;
    padding: 3% 50px;
    color: #fff; }
    .manufacturers .clickable__block:hover {
      box-shadow: inset 0 0 0 8px #448aa6;
      transition: 380ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .manufacturers .partners__button,
  .manufacturers .presentation__button {
    width: 30px;
    height: 30px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 30px;
    margin: 0 auto; }
  .manufacturers .manufacturers__listbox {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    transition-duration: 1s; }
    .manufacturers .manufacturers__listbox .manufacturers__listbox--item {
      flex-basis: 22.5%;
      margin: 15px 5px;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition-duration: 1s; }
      .manufacturers .manufacturers__listbox .manufacturers__listbox--item .manufacturers__listbox--image {
        min-height: 200px;
        display: block;
        width: 100%;
        height: auto;
        transition-duration: 1s; }
      .manufacturers .manufacturers__listbox .manufacturers__listbox--item:hover {
        transition-duration: 1s;
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
        filter: saturate(1); }

@media screen and (max-width: 800px) {
  .manufacturers .manufacturers__listbox .manufacturers__listbox--item {
    flex-basis: 30%;
    margin: 2% 1%; } }

@media screen and (max-width: 600px) {
  .manufacturers .manufacturers__listbox .manufacturers__listbox--item {
    flex-basis: 48%;
    margin: 1% 1%; } }

@media screen and (max-width: 400px) {
  .manufacturers .manufacturers__listbox .manufacturers__listbox--item .manufacturers__listbox--image {
    min-height: 100px; } }

.map {
  width: 100%;
  min-height: 55vh; }

@media screen and (max-width: 600px) {
  .map {
    min-height: 90vh; } }

.mobile-side-nav {
  display: none;
  box-sizing: border-box; }

.side-nav {
  flex-basis: 24%;
  flex-flow: column row;
  margin: 30px 0;
  order: 2;
  font-weight: 300;
  font-size: 10pt; }
  .side-nav .side-nav__box {
    overflow-y: scroll;
    max-height: 85vh;
    margin-right: 13%; }
    .side-nav .side-nav__box::-webkit-scrollbar, .side-nav .side-nav__box ::-webkit-resizer {
      width: 0;
      height: 0; }
    .side-nav .side-nav__box .side-nav__list-box--item {
      padding: 14px 0;
      display: block;
      line-height: 1;
      color: #000000; }
      .side-nav .side-nav__box .side-nav__list-box--item:hover {
        text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all ease .5s;
        cursor: pointer;
        -webkit-text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all ease .5s; }
    .side-nav .side-nav__box #manufacturers-dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      line-height: 1; }
      .side-nav .side-nav__box #manufacturers-dropdown .subcategory-box__item--text {
        color: #1f1f1f;
        margin: 0;
        padding: 11px 0; }
        .side-nav .side-nav__box #manufacturers-dropdown .subcategory-box__item--text:hover {
          text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all ease .5s;
          cursor: pointer;
          -webkit-text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all ease .5s; }
      .side-nav .side-nav__box #manufacturers-dropdown .subcategory-box__item--svg {
        width: 14px;
        height: 8px;
        padding: 10px 7px;
        transition-duration: 400ms;
        cursor: pointer; }
        .side-nav .side-nav__box #manufacturers-dropdown .subcategory-box__item--svg:hover {
          transform: rotate(90deg); }
    .side-nav .side-nav__box .navigation-dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      line-height: 1; }
      .side-nav .side-nav__box .navigation-dropdown .subcategory-box__item--text {
        margin: 0;
        padding: 11px 0;
        color: #000000; }
        .side-nav .side-nav__box .navigation-dropdown .subcategory-box__item--text:hover {
          text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all ease .5s;
          cursor: pointer;
          -webkit-text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all ease .5s; }
      .side-nav .side-nav__box .navigation-dropdown .subcategory-box__item--svg {
        box-sizing: content-box;
        min-width: 14px;
        height: 8px;
        padding: 10px 7px;
        transition-duration: 400ms;
        cursor: pointer; }
        .side-nav .side-nav__box .navigation-dropdown .subcategory-box__item--svg:hover {
          transform: rotate(90deg); }
    .side-nav .side-nav__box .subcategory-box {
      margin-bottom: 12px;
      font-size: 0.9em;
      opacity: 1; }
      .side-nav .side-nav__box .subcategory-box .subcategory-box__item {
        width: 90%;
        color: #1f1f1f;
        padding: 0;
        display: block;
        margin: 0 auto; }
        .side-nav .side-nav__box .subcategory-box .subcategory-box__item:hover {
          text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all ease .5s;
          cursor: pointer; }
  .side-nav .active {
    text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all ease .5s; }

@media screen and (max-width: 700px) {
  .side-nav {
    display: none;
    flex-basis: 80%;
    margin: 0 auto;
    order: 1; }
    .side-nav .side-nav__box {
      display: flex;
      flex-flow: column;
      max-height: unset;
      margin-right: 0; }
      .side-nav .side-nav__box .navigation-dropdown, .side-nav .side-nav__box #manufacturers-dropdown {
        padding-left: 10px; }
      .side-nav .side-nav__box .side-nav__list-box--item {
        flex-basis: 100%;
        width: 100%;
        padding: 15px 10px; }
      .side-nav .side-nav__box .subcategory-box {
        width: 50%;
        flex-basis: 50%; }
        .side-nav .side-nav__box .subcategory-box .subcategory-box__item {
          flex-basis: 30%; }
  .mobile-side-nav {
    background-color: #1f1f1f;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px;
    margin-top: 50px; }
    .mobile-side-nav:hover {
      box-shadow: inset 0 0 0 5px #448aa6;
      transition: 380ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      background-color: #1f1f1f; }
    .mobile-side-nav .subcategory-box__item--text {
      flex-basis: 90%;
      margin: 0;
      color: #fff; }
    .mobile-side-nav .subcategory-box__item--svg {
      flex-basis: 10%;
      width: 14px;
      height: 14px;
      transition-duration: 1s; } }

.fullwidth-image {
  height: 57vh;
  background-position: top;
  background-size: cover; }

.section-description {
  display: flex;
  flex-direction: row;
  font-weight: 300; }
  .section-description .section-description__left {
    align-self: center;
    text-align: center;
    flex-basis: 30%; }
  .section-description .section-description__right {
    flex-basis: 70%;
    text-align: justify; }

@media screen and (max-width: 800px) {
  .fullwidth-image {
    height: 65vh; }
  .section-description {
    flex-direction: column; }
    .section-description .section-description__left {
      flex-basis: 100%; }
    .section-description .section-description__right {
      flex-basis: 100%; } }

.main-navigation {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 99; }
  .main-navigation .main-navigation__box {
    max-width: 1124px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .main-navigation .main-navigation__box .navigation__item--button {
      color: #1f1f1f;
      font-size: 10pt;
      font-weight: 300;
      letter-spacing: 0.1em;
      transition: 90ms;
      transition-timing-function: ease;
      text-decoration: none;
      display: block;
      padding: 13px 10px; }
      .main-navigation .main-navigation__box .navigation__item--button:hover {
        text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all ease .5s;
        cursor: pointer;
        -webkit-text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all ease .5s; }
    .main-navigation .main-navigation__box .logo-nav__button {
      height: 50px; }
    .main-navigation .main-navigation__box .active {
      text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all ease .5s;
      cursor: pointer;
      -webkit-text-shadow: -0.3px -0.3px 0 #1f1f1f, 0.3px -0.3px 0 #1f1f1f, -0.3px 0.3px 0 #1f1f1f, 0.3px 0.3px 0 #1f1f1f;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all ease .5s; }
  .main-navigation .main-navigation__burger {
    display: none; }

.fakenav {
  height: 50px; }

.search-bar,
.logo-nav {
  display: flex;
  margin: 0;
  padding: 0; }
  .search-bar .navigation__search-form,
  .logo-nav .navigation__search-form {
    width: auto; }
    .search-bar .navigation__search-form .navigation__search-form--search-input,
    .logo-nav .navigation__search-form .navigation__search-form--search-input {
      width: 110px;
      height: 100%;
      transition: ease 1s;
      border: 0; }
    .search-bar .navigation__search-form .hidden,
    .logo-nav .navigation__search-form .hidden {
      display: inherit !important;
      transition: ease 1s;
      height: 100%;
      width: 0;
      border: 0;
      padding: 0;
      opacity: 0.5;
      box-shadow: inset 0 0 7px #000000; }

@media screen and (max-width: 760px) {
  .main-navigation {
    z-index: 999;
    cursor: pointer;
    background: transparent; }
    .main-navigation .main-navigation__burger {
      width: 45px;
      position: relative;
      display: block;
      padding: 4px;
      background-color: rgba(31, 31, 31, 0.85); }
      .main-navigation .main-navigation__burger .main-navigation__burger--stripe {
        position: relative;
        height: 2px;
        width: 35px;
        background-color: #fff;
        border-radius: 25px;
        margin: 8px auto; }
      .main-navigation .main-navigation__burger .stripe1 {
        transition-duration: 1s;
        top: 10px;
        transform: rotate(135deg); }
      .main-navigation .main-navigation__burger .stripe2 {
        transition-duration: 1s;
        transform: rotate(45deg); }
      .main-navigation .main-navigation__burger:hover > .stripe2 {
        background-color: #448aa6; }
      .main-navigation .main-navigation__burger:hover > .stripe1 {
        background-color: #448aa6; }
    .main-navigation .main-navigation__box {
      display: none;
      list-style: none;
      width: 100%;
      padding: 0;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.9); }
      .main-navigation .main-navigation__box .navigation__item--button {
        font-size: 10pt;
        display: block;
        padding: 15px 10px; }
        .main-navigation .main-navigation__box .navigation__item--button:hover {
          color: #1f1f1f;
          transition: 90ms; }
  .fakenav {
    display: none; }
  .search-bar .navigation__search-form {
    width: 100%; }
    .search-bar .navigation__search-form .navigation__search-form--search-input {
      width: 100%;
      height: 100%;
      transition: ease 1s;
      border: 0; } }

.mini-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mini-navigation .mini-navigation__button {
    flex-basis: 33.33%;
    text-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    color: white;
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-size: 16pt;
    letter-spacing: 0.2em;
    transition-duration: 90ms; }
    .mini-navigation .mini-navigation__button span {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 5px; }
    .mini-navigation .mini-navigation__button:hover {
      opacity: 0.9;
      background-size: 123%;
      transition-duration: 90ms; }

@media screen and (max-width: 800px) {
  .mini-navigation {
    flex-wrap: wrap; }
    .mini-navigation .mini-navigation__button {
      flex-basis: 100%;
      font-size: 14pt;
      letter-spacing: 0.2em; } }

.sort-bar__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  border-bottom: 1px solid #e6e6e6;
  order: 1; }
  .sort-bar__box .form_box {
    margin-left: auto; }
    .sort-bar__box .form_box .sort-bar__box--button {
      box-sizing: border-box;
      height: 35px;
      text-align: center;
      border-radius: 1px;
      border: none;
      background-image: url("/images/SlideNext_2.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 10%;
      padding: 0 5px;
      background-origin: content-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
      .sort-bar__box .form_box .sort-bar__box--button:hover {
        box-shadow: inset 0 0 0 1px #448aa6;
        transition: 380ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer; }

@media screen and (max-width: 800px) {
  .sort-bar__box {
    order: 2; } }

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contact-form .contact-form__leftbox {
    flex-basis: 49%;
    display: flex;
    flex-direction: column; }
    .contact-form .contact-form__leftbox .contact-form__leftbox--input {
      padding: 10px;
      border: 1px solid #1f1f1f; }
    .contact-form .contact-form__leftbox .middle {
      margin: 20px 0; }
  .contact-form .contact-form__rightbox {
    display: flex;
    flex-basis: 49%; }
    .contact-form .contact-form__rightbox .contact-form__rightbox--textarea {
      flex-basis: 100%;
      padding: 10px;
      border: 1px solid #1f1f1f; }
  .contact-form .confirm-button {
    margin: 20px auto; }
    .contact-form .confirm-button button {
      background-color: #1f1f1f;
      color: #fff;
      color: 1px solid #1f1f1f;
      padding: 10px 50px;
      border: 0; }
      .contact-form .confirm-button button:hover {
        box-shadow: inset 0 0 0 6px #448aa6;
        transition: 380ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.description-box {
  height: 70vh;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 135%;
  animation: animatedBackground 30s linear infinite;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .description-box .description-box__title {
    width: 500px;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 4em;
    z-index: 10; }
    .description-box .description-box__title div {
      font-weight: thin; }
  .description-box .description-box__item--text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    max-width: 500px;
    text-align: justify;
    overflow: visible;
    margin: 0; }

@media screen and (max-width: 600px) {
  .description-box {
    flex-wrap: wrap-reverse;
    height: 80vh; }
    .description-box .description-box__title {
      max-width: 90%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: 4em; }
    .description-box .description-box__item--text {
      max-width: 90%; } }

.ig_logo {
  height: 40px;
  width: 40px;
  display: flex;
  align-content: center;
  margin: 0 auto; }
  .ig_logo img {
    width: 50px;
    height: 50px; }

#instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative; }
  #instafeed .items-box__instagram-item {
    margin: 0;
    text-align: center; }
    #instafeed .items-box__instagram-item .items-box__item--main-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 250px;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative; }
      #instafeed .items-box__instagram-item .items-box__item--main-image:hover > .items-box__item--text {
        color: #fff;
        font-size: 0.87em;
        width: 95%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 5%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.75);
        text-align: start;
        display: flex;
        align-self: stretch;
        align-items: center;
        animation: fadeIn 0.2s ease 1 forwards; }
    #instafeed .items-box__instagram-item .items-box__item--text {
      display: none;
      background-color: #fff;
      opacity: 0;
      transition-duration: 90ms; }

.highlighted-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .highlighted-products .items-box__item {
    text-align: center;
    margin: 0 2%; }
    .highlighted-products .items-box__item .items-box__item--description {
      margin: 5px; }
    .highlighted-products .items-box__item .items-box__item--main-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 100%;
      height: 250px;
      overflow: auto; }
      .highlighted-products .items-box__item .items-box__item--main-image:hover {
        transform: scale(1.02);
        transition-duration: 90ms; }

@media screen and (max-width: 700px) {
  .highlighted-products {
    justify-content: center; }
    .highlighted-products .items-box__item .items-box__item--main-image {
      height: 200px;
      overflow: auto; } }

/* Slider */
.slick-arrow {
  flex-basis: 3%;
  height: 25px;
  background-image: url("/images/SlideNext_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 90ms;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .slick-arrow:hover {
    opacity: 0.6;
    transition-duration: 90ms; }

.slick-disabled {
  visibility: hidden;
  cursor: default; }

.product-gallery .slick-list {
  flex-basis: 85%; }

.product-gallery .slick-arrow {
  flex-basis: 25px;
  height: 20px; }

.slick-next {
  transform: rotate(-90deg); }

.slick-prev {
  transform: rotate(90deg); }

.slick-slider {
  position: relative;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

#instafeed .slick-list {
  flex-basis: 100%; }

#instafeed .slick-arrow {
  position: absolute;
  background-image: url("/images/SlideNext_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border: 0;
  transition-duration: 90ms;
  cursor: pointer;
  background-color: white;
  z-index: 155;
  width: 40px;
  height: 35px; }
  #instafeed .slick-arrow:hover {
    opacity: 0.6;
    transition-duration: 90ms; }

#instafeed .slick-next {
  transform: rotate(-90deg);
  right: 0; }

#instafeed .slick-prev {
  transform: rotate(90deg);
  left: 0; }

.highlighted-products .slick-list {
  flex-basis: 92%; }
  .highlighted-products .slick-list .slick-slide {
    margin: 0px 1%; }

.loading-speakers-box {
  opacity: 0;
  text-align: center;
  animation: getBigger 0.5s ease-in 1 forwards; }
  .loading-speakers-box #mids-inner path, .loading-speakers-box #mids-inner-2 path, .loading-speakers-box #mids-inner-3 path {
    stroke: #1f1f1f;
    stroke-miterlimit: 10;
    stroke-width: 0px; }
  .loading-speakers-box #mids-inner path {
    animation: subwoofer 1s linear .3s infinite; }
  .loading-speakers-box #mids-inner-2 path {
    animation: subwoofer 1s linear .2s infinite; }
  .loading-speakers-box #mids-inner-3 path {
    animation: subwoofer 1s linear .1s infinite; }

@keyframes subwoofer {
  0% {
    stroke-width: 0px; }
  40% {
    stroke-width: 1px; }
  60% {
    stroke-width: 7px; }
  70% {
    stroke-width: 1px; }
  100% {
    stroke-width: 0px; } }

.canvas {
  margin: 0px auto;
  animation: getBigger 0.5s ease-in 1 forwards;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 10em; }

/* Spinner 6 starts here */
.spinner6 {
  background: #1f1f1f;
  border-radius: 30%;
  height: 1em;
  margin: .2em;
  width: 1em; }

.p1 {
  animation: fall 1s linear .3s infinite; }

.p2 {
  animation: fall 1s linear .2s infinite; }

.p3 {
  animation: fall 1s linear .1s infinite; }

.p4 {
  animation: fall 1s linear infinite; }

#manifesto {
  position: relative;
  /* The image used */
  background-color: #1f1f1f;
  /* Set a specific height */
  min-height: 95vh;
  /* Create the parallax scrolling effect */
  background-image: url("/images/newmanifesto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; }
  #manifesto .message {
    max-width: 750px;
    word-spacing: 0.1em;
    padding: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: thin;
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    margin: 0; }

@media screen and (max-width: 700px) {
  #manifesto {
    min-height: 65vh; }
    #manifesto .message {
      max-width: 90%;
      font-size: 2em;
      line-height: 1.5em; } }

.products-wrapper {
  display: flex;
  flex-wrap: wrap; }

.products {
  display: flex;
  flex-basis: 75%;
  flex-wrap: wrap;
  order: 3; }
  .products .items-box__item {
    flex-basis: 30%;
    margin: 30px auto;
    text-align: center; }
    .products .items-box__item .items-box__item--main-image {
      object-fit: contain;
      width: 90%;
      height: 265px;
      display: none; }
      .products .items-box__item .items-box__item--main-image:hover {
        transform: scale(1.02);
        transition-duration: 90ms; }
    .products .items-box__item .show {
      display: initial; }
    .products .items-box__item .no-image-err {
      height: 50%;
      margin: 25% 0;
      display: flex;
      align-items: center; }

.items-box__item--description {
  margin: 5px;
  color: #1f1f1f; }

.price-discount {
  font-weight: bold;
  color: #c70039; }

@media screen and (max-width: 800px) {
  .products .items-box__item .items-box__item--main-image {
    height: 230px; } }

@media screen and (max-width: 700px) {
  .products-wrapper {
    flex-direction: row-reverse; }
  .products {
    flex-basis: 100%; }
    .products .items-box__item {
      flex-basis: 45%;
      margin: 20px auto; }
      .products .items-box__item .items-box__item--main-image {
        width: 100%;
        height: 220px;
        overflow: auto; } }

@media screen and (max-width: 420px) {
  .products .items-box__item .items-box__item--main-image {
    height: 200px; } }

.get-back {
  margin-top: 35px; }
  .get-back a,
  .get-back button {
    padding: 15px 30px;
    color: #fff;
    background-color: #1f1f1f; }
    .get-back a:hover,
    .get-back button:hover {
      box-shadow: inset 0 0 0 5px #448aa6;
      transition: 380ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .product .product-gallery {
    flex-basis: 48%;
    text-align: center;
    overflow: hidden; }
    .product .product-gallery .items-box__item--main-image {
      cursor: pointer;
      margin: 5px auto;
      max-width: 670px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 40vh; }
      .product .product-gallery .items-box__item--main-image:hover {
        opacity: 0.8;
        transition: 0.2s ease-out; }
    .product .product-gallery .items-box__item-images {
      display: flex;
      justify-content: center;
      align-items: center; }
      .product .product-gallery .items-box__item-images .items-box__item-images--item {
        display: inline-block;
        cursor: pointer;
        max-width: 75px !important;
        height: 50px;
        object-fit: scale-down;
        margin: 0 5px; }
  .product .product-description {
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    flex-basis: 47%; }
    .product .product-description .description__top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      flex-basis: 100%; }
      .product .product-description .description__top .description__top--logo:hover {
        box-shadow: 0px 0px 3px 1px #448aa6;
        transition: box-shadow 0.2s ease-out; }
      .product .product-description .description__top .description__top--title {
        flex-basis: 48%;
        text-align: right; }
      .product .product-description .description__top .description__top--price {
        flex-basis: 100%;
        text-align: right;
        margin: 30px 0; }
        .product .product-description .description__top .description__top--price h4 {
          font-weight: 300 !important; }
    .product .product-description .description__bottom {
      text-align: justify; }
    .product .product-description ul {
      list-style-type: square;
      line-height: 2em; }
  .product .product-awards {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 20px 0; }
    .product .product-awards .award-image {
      width: 60px;
      margin-right: 10px; }

.triple-flex {
  display: flex;
  margin: 30px auto;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 35px; }
  .triple-flex .triple-flex__box {
    flex-basis: 45%; }
  .triple-flex .triple-flex__split {
    width: 1px; }

.double-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media screen and (max-width: 800px) {
  .product {
    flex-wrap: wrap;
    flex-direction: column; }
    .product .product-gallery {
      flex-basis: 100%; }
      .product .product-gallery .items-box__item--main-image {
        max-width: 100%; }
      .product .product-gallery .items-box__item-images {
        width: 80vw;
        margin: 0 auto; }
    .product .product-description .description__top .description-item {
      margin: 20px 0;
      flex-basis: 100%;
      text-align: center; }
    .product .product-awards {
      flex-direction: row;
      flex-wrap: wrap; }
      .product .product-awards .award-image {
        width: 80px;
        margin: 5px; }
  .triple-flex {
    flex-direction: column; }
    .triple-flex .triple-flex__split {
      width: 100%;
      margin: 10px 0;
      border-bottom: 1px solid #e6e6e6; } }
