.contact-form {
	display: flex;
	flex-wrap: wrap; // flex-direction: column;
	justify-content: space-between;
	.contact-form__leftbox {
		flex-basis: 49%;
		display: flex;
		flex-direction: column;
		.contact-form__leftbox--input {
			padding: 10px;
			border: 1px solid map-get($color, darkgrey); // border-radius: 8px;
		}
		.middle {
			margin: 20px 0;
		}
	}
	.contact-form__rightbox {
		display: flex;
		flex-basis: 49%;
		.contact-form__rightbox--textarea {
			flex-basis: 100%;
			padding: 10px;
			border: 1px solid map-get($color, darkgrey);
		}
	}
	.confirm-button {
		margin: 20px auto;
		button {
			background-color: map-get($color, darkgrey);
			color: map-get($color, white);
			color: 1px solid map-get($color, darkgrey);
			padding: 10px 50px;
			border: 0;
			&:hover {
				@include hover(blue);
			}
		}
	}
}
