.loop-box {
	min-height: 70vh;
	background-position: left bottom;
	background-size: 135%;
	animation: animatedBackground 30s linear infinite;
	color: map-get($color, white);
	flex-direction: column;
}

@media screen and (max-width: $window-medium) {
	.loop-box {
		flex-wrap: wrap-reverse;
		background-size: cover;
		.loop-box__item--text {
			max-width: 90%;
		}
	}
}
