.loop-box {
	height: 70vh;
	background-attachment: fixed;
	background-position: left bottom;
	background-size: 135%;
	animation: animatedBackground 30s linear infinite;

	color: map-get($color, white);
	flex-direction: column;
}

@media screen and (max-width: $window-small-medium) {
	.loop-box {
		flex-wrap: wrap-reverse;
		height: 80vh;
		.loop-box__item--text {
			max-width: 90%;
		}
	}
}
