.footer {
	border-top: 1px solid #eeeeee;
	background-color: map-get($color, white);
	font-weight: 300;
		.work-time {
			width: 90px;
    		text-align: right;
		}
		.footer__box--left {
			text-align: left;
			flex-basis: 23%;
		}
		.footer__box--middle {
			align-self: flex-start;
			justify-content: left;
			flex-basis: 20%;
		}
		.footer__box--right {
			align-self: flex-start;
			flex-basis: 42%;
		}

		.newsletter {
			.newsletter__box--input {
				flex-basis: 85%;
				input {
					width: 95%;
					height: 30px;
					padding: 2px 8px;
					margin: 0;
					border: none;
					background-color: map-get($color, darkgrey);
					&::placeholder {
						color: map-get($color, white);
					}
					&[type] {
						color: map-get($color, white);
					}
				}
			}
			.newsletter__box--button {
				height: 35px;
				flex-basis: 15%;
				text-align: center;
				cursor: pointer;
			}
			input[type='submit'] {
				display: none;
			}
		}
}

@media screen and (max-width: $window-small-medium) {
	.footer {
		.footer__box--left {
			text-align: left;
			flex-basis: 50%;
		}
		.footer__box--middle {
			text-align: right;
			flex-basis: 50%;
		}
		.footer__box--right {
			flex-basis: 100%;
			.newsletter {
				width: 100%;
					.newsletter__box--text {
						flex-basis: 100%;
					}
					.newsletter__box--input {
						width: 85%;
						// overflow: auto;
						input {
							width: 95%;
							height: 30px;
							padding: 0 5px;
							margin: 0;
							&::placeholder {
								color: map-get($color, white);
							}
							&[type] {
								color: map-get($color, white);
							}
						}
					}
					.newsletter__box--button {
						height: 35px;
						width: 15%;
						text-align: center;
						cursor: pointer;
					}
					input[type='submit'] {
						display: none;
					}
			}
		}
	}
}
