.form {
	display: flex;
	flex-wrap: wrap; // flex-direction: column;
	justify-content: space-between;
	.form__leftbox {
		flex-basis: 49%;
		display: flex;
		flex-direction: column;
	}
	.form__rightbox {
		display: flex;
		flex-basis: 49%;
	}
	.form__textarea {
		flex-basis: 100%;
		padding: 10px;
		border: 1px solid map-get($color, darkgrey);
	}
	.form__input {
		flex-basis: 100%;
		padding: 10px;
		border: 1px solid map-get($color, darkgrey); // border-radius: 8px;
	}
	.confirm-button {
		margin: 20px auto;
		button {
			background-color: map-get($color, darkgrey);
			color: map-get($color, white);
			color: 1px solid map-get($color, darkgrey);
			padding: 10px 50px;
			border: 0;
			&:hover {
				@include hover(blue);
			}
		}
	}
}
