header {
	width: 100%;
	background-color: map-get($color, darkgrey);
	position: fixed;
	top: 0;
	z-index: 1;
	a {
		color: map-get($color, white);
		transition: 90ms;
		&:hover {
			transition: 90ms;
			background-color: map-get($color, brown);
		}
	}
	.icon-bar {
		background-color: white;
	}
}

.fakenav {
	height: 50px;
}
