.highlighted-products {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	.items-box__item {
		text-align: center;
		margin: 0 2%;
		.items-box__item--description {
			margin: 5px;
		}
		.items-box__item--main-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			width: 100%;
			height: 250px;
			overflow: auto;
			&:hover {
				transform: scale(1.02);
				transition-duration: 90ms;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.highlighted-products {
		justify-content: center;
		.items-box__item {
			.items-box__item--main-image {
				height: 200px;
				overflow: auto;
			}
		}
	}
}
