#manifesto {
	display: flex;
	position: relative;
	/* The image used */
	background-image: url('/images/highlighted2.png');
	/* Set a specific height */
	min-height: 95vh;
	margin-bottom: 25px;
	/* Create the parallax scrolling effect */
	// background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; // box-shadow: inset 0 -10px 15px -10px #000000;
	.message {
		position: absolute;
		left: 50%;
		bottom: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
		margin: 0; // box-shadow: inset 0 -10px 15px -10px #000000;
	}
}

.highlighted-products {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .slick-list {
        flex-basis: 92%;
    }
    .items-box__item {
        margin: 0px 1%;
        text-align: center;
        .items-box__item--description {
            font-family: AzoSansThin;
            margin: 5px;
        }
        .items-box__item--main-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 100%;
            height: 350px;
            overflow: auto;
            &:hover {
                transform: scale(1.02);
                transition-duration: 90ms;
            }
        }
    }
    .slick-arrow {
        flex-basis: 3%;
		height: 30px;
		background-color: transparent;
        background-image: url('/images/IconDown.svg');
	    background-repeat: no-repeat;
	    background-size: contain;
        transition-duration: 90ms;
        border: none;
        &:hover {
            opacity: 0.6;
			transition-duration: 90ms;
        }
    }
    .slick-next {
        transform: rotate(-90deg);
    }
    .slick-prev {
        transform: rotate(90deg);
    }
}

.mini-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px auto;
	.mini-navigation__button {
		margin: 25px 0;
		flex-basis: 30%;
		text-align: center;
		background-position: bottom;
		background-repeat: no-repeat; // background-size: cover;
		background-size: 120%;
		background-position: center;
		color: white;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 16pt;
		transition-duration: 1s;
		span {
			background-color: rgba($color: #000000, $alpha: 0.3);
			padding: 10px;
			border-radius: 5px;
			font-family: 'AzoSansThin';
		}
		&:hover {
			// @include hover(darkgrey);
			opacity: 0.9;
			background-size: 123%;
			transition-duration:90ms;
		}
	}
	.button1 {
		background-image: url('/images/mini-nav1.png'); // background-image: url('/images/highlighted2.png');
	}
	.button2 {
		background-image: url('/images/mini-nav2.png'); // background-image: url('/images/highlighted2.png');
	}
	.button3 {
		background-image: url('/images/mini-nav3.png'); // background-image: url('/images/highlighted2.png');
	}
}

@media screen and (max-width: 700px) {
	.highlighted-products {
        justify-content: center;
        .items-box__item {
		    .items-box__item--main-image {
		    	height: 200px;
                overflow: auto;
            }
        }
	}
}
