
#manifesto {
    display: flex;
    position: relative;
    /* The image used */
    background-image: url('/images/highlighted.jpg');
    /* Set a specific height */
    min-height: 40vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // box-shadow: inset 0 -10px 15px -10px #000000;
    box-shadow: inset 0 0 10px #000000;
    margin: 50px 0;
    h1 {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        padding: 20px;
        margin: 10px;
        // box-shadow: inset 0 -10px 15px -10px #000000;
    }
}

.navbar, .navbar-default {
    z-index: 10;
}