.ig_logo {
   height: 40px;
   width: 40px;
   display: flex;
   align-content: center;
   margin: 0 auto;

   img {
       width: 50px;
       height: 50px;
   }
}
#instafeed {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    .slick-list {
        flex-basis: 100%;
    }
    .items-box__instagram-item {
        margin: 0;
        text-align: center;
        .items-box__item--main-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 100%;
            height: 270px;
            overflow: auto;
            position: relative;
            
            &:hover > .items-box__item--text {
                color: map-get($color, white);
                font-size: 0.9em;
                width: 96%;
                min-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 0 2%;
                transform: translate(-50%, -50%);
                background-color: map-get($color, darkgrey);
                text-align: start;
                display: flex;
                align-self: center;
                align-items: center;
                animation: fadeIn 0.2s ease 1 forwards;
            }
        }
        .items-box__item--text {
            display: none;
            background-color: map-get($color, white);
            opacity: 0;
            transition-duration: 90ms;
        }
    }
    .slick-arrow {
        position: absolute;
        background-image: url('/images/SlideNext.svg');
	    background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        border: 0;
        transition-duration: 90ms;
        cursor: pointer;
        background-color: white;
        z-index: 155;
        width: 40px;
        height: 35px;

        &:hover {
            opacity: 0.6;
			transition-duration: 90ms;
        }
    }
    .slick-next {
        transform: rotate(-90deg);
        right: 0;
    }
    .slick-prev {
        transform: rotate(90deg);
        left: 0;
    }
}