.main-navigation {
	width: 100%; // background-color: rgba($color: map-get($color, lightgrey), $alpha: 0.8);
	background-color: map-get($color, darkgrey);
	position: fixed;
	top: 0;
	height: 50px;
	z-index: 99;
	.main-navigation__box {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.navigation__item {
			// padding: 15px 10px;
		}
		.navigation__item--button {
			font-family: "AzoSansThin"; // color: map-get($color, darkgrey);
			font-size: 10pt;
			color: map-get($color, white);
			transition: 90ms;
			transition-timing-function: ease;
			text-decoration: none;
			display: block;
			padding: 15px 10px;
			&:hover {
				color: map-get($color, blue);
				transition: 90ms; // background-color: map-get($color, white);
			}
		}
	}
	.main-navigation__burger {
		display: none;
	}
}

.fakenav {
	height: 50px;
}

.search-bar {
	display: flex;
	margin: 0;
	padding: 0;
	align-content: center;
	.search-bar__icon {
		width: 40px;
		background-image: url("/images/search-icon-white.png");
		background-size: cover;
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		&:hover {
			background-image: url("/images/search-icon-blue.png");
		}
	}
	.navigation__search-form {
		width: auto;
		.navigation__search-form--search-input {
			width: 110px;
			height: 100%;
			transition: ease 1s;
			border: 0;
		}
		.hidden {
			display: inherit !important;
			transition: ease 1s;
			height: 100%;
			width: 0;
			border: 0;
			padding: 0;
			opacity: 0.5;
			box-shadow: inset 0 0 7px #000000;
		}
	}
}

@media screen and (max-width: 760px) {
	.main-navigation {
		width: 70px;
		height: 70px;
		border-bottom-right-radius: 100%;
		.main-navigation__burger {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 35px;
			height: 35px;
			margin: 10px;
			.main-navigation__burger--stripe {
				flex-basis: 20%;
				background-color: white;
				border-radius: 2px;
			}
		}
		.main-navigation__box {
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
			flex-direction: column;
			.navigation__item--button {
				font-family: "AzoSansThin"; // color: map-get($color, darkgrey);
				font-size: 10pt;
				display: block;
				padding: 15px 10px;
				&:hover {
					color: map-get($color, blue);
					transition: 90ms; // background-color: map-get($color, white);
				}
			}
		}
	}
	.fakenav {
		display: none;
	}
}
