.navbar,
.navbar-default,
.navbar-collapse {
	z-index: 10;
	padding-right: 15px;
	padding-left: 0;
}

header {
	width: 100%;
	background-color: map-get($color, darkgrey);
	position: fixed;
	top: 0;
	z-index: 1;
	.navigation__item {
		padding: 15px 0;
		list-style: none;
	}
	.navigation__item--button {
		color: map-get($color, white);
		padding: 15px;
		height: 100%;
		transition: 90ms;
		transition-timing-function: ease;
		&:hover {
			color: map-get($color, blue);
			transition: 90ms;
			background-color: map-get($color, white);
		}
	}
	.icon-bar {
		background-color: white;
	}
}

.fakenav {
	height: 50px;
}

.logo {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transition: ease 1s;
	transform: translateX(-50%);
	background-image: url('/images/logo.svg');
	background-size: contain;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 35px;
	margin: 0;
	&:hover {
		background-image: url('/images/logo.svg');
		background-color: map-get($color, white);
		transition-duration: 90ms;
	}
}

.logoSmall {
	position: absolute;
	width: 80px;
	height: 100%;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-image: url('/images/logoWhite.svg');
	background-size: contain;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: map-get($color, darkgrey);
	margin: 0;
	transition: ease 1s;
	&:hover {
		background-image: url('/images/logo.svg');
		background-color: map-get($color, white);
	}
}

.search-bar {
	display: flex;
	.search-bar__icon {
		width: 50px;
		height: 50px;
		background-image: url('/images/search-icon-white.png');
		background-size: cover;
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		&:hover {
			background-image: url('/images/search-icon-blue.png');
		}
	}
	.navigation__search-form {
		.navigation__search-form--search-input {
			width: 130px;
			height: 100%;
			transition: ease 1s;
			border: 0;
		}
		.hidden {
			display: inherit !important;
			transition: ease 1s;
			height: 100%;
			width: 0;
			border: 0;
			padding: 0;
			opacity: 0.5;
		}
	}
}
