.manufacturers {
	text-align: center;
	margin: 50px auto;
    transition-duration: 1s;
	.manufacturers__listbox {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        transition-duration: 1s;
		.manufacturers__listbox--item {
            margin: 10px 5px;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition-duration: 1s;
			img {
            // width: 240px;
            padding-top: 10%;
            padding-bottom: 0;
            transition-duration: 1s;
            }
            &:hover {
                transition-duration: 1s;
				-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                filter: saturate(1);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.partners,
	.presentation {
		text-align: center;
		ul {
			li {
				display: inline-block;
				width: 40%;
			}
		}
	}
}
