.mini-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.mini-navigation__button {
		flex-basis: 33.33%;
		text-align: center;
		background-position: bottom;
		background-repeat: no-repeat; // background-size: cover;
		background-size: 120%;
		background-position: center;
		color: white;
		padding-top: 10vw;
		padding-bottom: 10vw;
		font-size: 16pt;
		letter-spacing: 0.2em;
		transition-duration: 90ms;
		span {
			background-color: rgba($color: #000000, $alpha: 0.3);
			padding: 10px;
			border-radius: 5px;
		}
		&:hover {
			// @include hover(darkgrey);
			opacity: 0.9;
			background-size: 123%;
			transition-duration:90ms;
		}
	}
	.button1 {
		background-image: url('/images/mini-nav1.png');
	}
	.button2 {
		background-image: url('/images/mini-nav2.png');
	}
	.button3 {
		background-image: url('/images/mini-nav3.png');
	}
}

@media screen and (max-width: 700px) {
	.mini-navigation {
		flex-direction: row;
		flex-wrap: wrap;
		.mini-navigation__button {
			flex-basis: 100%;
		}
	}
}
@media screen and (max-width: 800px) {
	.mini-navigation {
		.mini-navigation__button {
			font-size: 14pt;
			letter-spacing: 0.2em;
		}
	}
}