.mini-navigation {
	overflow: hidden;
	.mini-navigation__button {
		flex-basis: 33.33%;
		background-size: cover;
		background-position: center;
		height: 30vh;
		transition-duration: 90ms;
		&--text {
			font-size: 16pt;
			text-align: center;
			letter-spacing: 0.2em;
			background-color: rgba($color: #000000, $alpha: 0.5);
			color: white;
			padding: 10px;
			border-radius: 5px;
			display: inline-block;
		}
		&:hover {
			transform: scale(1.05);
		}
	}
}

@media screen and (max-width: $window-medium) {
	.mini-navigation {
		flex-wrap: wrap;
		.mini-navigation__button {
			height: 15vh;
			flex-basis: 100%;
			font-size: 14pt;
			letter-spacing: 0.2em;
		}
	}
}
