.search-form {
    text-align: center;
}
.items-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .items-box__item--separator {
        width: 100%;
        padding: 5px;
        background-color: black;
        color: white;
        text-align: center;
    }

    .items-box__item {
        flex-basis: 100%;
        align-content: center;
        text-align: left;
        border-bottom: 1px solid grey;

        .items-box__item--main-image {
            background-size: cover;
            background-color: rgb(235, 235, 235);
            border: 1px solid black;
            height: 200px;
            width: 200px;
        }
    }

        .items-box__item-images--item {
            border: 1px solid black;
            margin: 2px;
    }
}
