.fullwidth-image {
	height: 57vh;
	background-position: center;
	background-size: cover;
}

.section-description {
	display: flex;
	flex-direction: row;
	font-weight: 300;
	.section-description__left {
		align-self: center;
		text-align: center;
		flex-basis: 30%;
	}
	.section-description__right {
		flex-basis: 70%;
		text-align: justify;
	}
}

@media screen and (max-width: $window-medium) {
	.fullwidth-image {
		height: 65vh;
	}
	.section-description {
		flex-direction: column;
		.section-description__left {
			flex-basis: 100%;
		}
		.section-description__right {
			flex-basis: 100%;
		}
	}
}
