.product {
    .product-gallery {
        text-align: center;
        .items-box__item--main-image {
            margin: 5px auto;
            max-width: 670px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 40vh;
        }
        .items-box__item-images {
            .items-box__item-images--item {
                cursor: pointer;
                width: 10vh;
                height: 50px;
                // border: 1px solid map-get($color, black);
                object-fit: contain;
                margin: 0 5px;
            }
        }
    }
    .description-normal__text-box {
        max-width: 500px;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;    
}

.description-nav {
    display: flex;
    text-align: center;

    .description-nav__button {
        cursor: pointer;
        flex-basis: 50%;        
        background-color: map-get($color, darkgrey);
        color: white;
        margin: 25px 0;
        padding: 16px;
        &:hover {
            @include hover(blue);
        }
    }

    .active {
        background-color: white;
        color: black;
        border-bottom: 0;
        border-top: 1px solid map-get($color, darkgrey);
        border-left: 1px solid map-get($color, darkgrey);
        border-right: 1px solid map-get($color, darkgrey);
    }
}