.items-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .items-box__item {
        flex-basis: 33%;
        align-content: center;
        text-align: center;

        .items-box__item--main-image {
            background-size: cover;
            margin: 0 auto;
            border: 1px solid black;
            height: 200px;
            width: 200px;
        }
    }

        .items-box__item-images--item {
            border: 1px solid black;
            margin: 2px;
    }
}
