.side-nav {
	flex-basis: 25%;
	flex-flow: column row;
	margin: 30px 0;
	.side-nav__box {
		overflow-y: scroll;
		max-height: 85vh;
		.side-nav__list-box--item {
			padding: 11px;
			width: 82%;
			display: block;
			line-height: 1;
			&:hover {
				background-color: map-get($color, lightgrey);
			}
		}
		.manufacturers-dropdown {
			background-color: map-get($color, darkgrey);
			color: map-get($color, white);
			cursor: pointer;
			padding: 10px;
			width: 82%;
			&:hover {
				@include hover(blue, 5px);
			}
			.dropdownSVG {
				width: 20px;
				margin: 2px;
				float: right;
			}
		}
		.subcategory-box {
			width: 82%;
			font-size: 0.8em;
			.subcategory-box__item {
				border-left: 1px solid map-get($color, blue);
				padding: 10px;
				width: 90%;
				display: block;
				margin: 0 auto;
				&:hover {
					background-color: #ececec;
				}
			}
		}
	}
	.active {
		// border: 0.5px dotted map-get($color, darkgrey);
		background-color: map-get($color, lightgrey); // font-weight: bold;
		// background-color: whitesmoke;
		// box-shadow: inset 0 0 10px #000000;
	}
}

@media screen and (max-width: 700px) {
	.side-nav {
		flex-basis: 100%;
		.side-nav__box {
			align-items: center;
			justify-content: center;
			flex-flow: column wrap;
			align-content: center;
			.side-nav__list-box--item {
				width: 49%;
				padding: 15px 10px;
				display: inline-block;
			}
			.manufacturers-dropdown {
				width: 100%;
			}
		}
	}
}
