.mobile-side-nav {
	display: none;
	box-sizing: border-box;
}

.side-nav {
	flex-basis: 24%;
	margin: 30px 0;
	order: 2;
	font-weight: 300;
	font-size: 10pt;
	.side-nav__box {
		overflow-y: scroll;
		margin-right: 13%;
		&::-webkit-scrollbar,
		::-webkit-resizer {
			width: 0;
			height: 0;
		}
		.side-nav__list-box--item {
			padding: 14px 0;
			display: block;
			line-height: 1;
			color: map-get($color, black);
			&:hover {
				@include NavigationItemHover();
			}
		}
		.subcategory-box__item--text {
			color: map-get($color, darkgrey);
			padding: 11px 0;
			&:hover {
				@include NavigationItemHover();
			}
		}
		.navigation-dropdown {
			display: flex;
			flex-wrap: wrap;
			line-height: 1;
			transition: height 0.2s ease;
			overflow: hidden;
			&--button {
				display: flex;
				flex-direction: row;
				align-items: center;
    			justify-content: flex-start;
			}
			.subcategory-box__item--svg {
				box-sizing: content-box;
				min-width: 14px;
				height: 8px;
				padding: 10px 7px;
				transition-duration: 400ms;
				user-select: none;
				cursor: pointer;
				&:hover {
					transform: rotate(90deg);
				}
			}
			.side-nav__list-box--item {
				padding: 8px 0;
			}
		}
		.subcategory-box {
			font-size: 0.9em;
			flex-basis: 90%;
			height: 0;
			margin-left: 5%;
			transition: height 0.2s ease;
			.subcategory-box__item {
				width: 90%;
				color: map-get($color, darkgrey);
				padding: 0; // width: 90%;
				display: block;
				margin: 0 auto;
				&:hover {
					text-shadow: -0.3px -0.3px 0 map-get($color, darkgrey), 0.3px -0.3px 0 map-get($color, darkgrey), -0.3px 0.3px 0 map-get($color, darkgrey),
						0.3px 0.3px 0 map-get($color, darkgrey);
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all ease 0.5s;
					cursor: pointer;
				}
			}
		}
	}
	.active {
		text-shadow: -0.3px -0.3px 0 map-get($color, darkgrey), 0.3px -0.3px 0 map-get($color, darkgrey), -0.3px 0.3px 0 map-get($color, darkgrey),
			0.3px 0.3px 0 map-get($color, darkgrey);
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all ease 0.5s;
	}
}

@media screen and (max-width: 700px) {
	.side-nav {
		flex-basis: 80%;
		margin: 0 auto;
		order: 1;
	}
	.mobile-side-nav {
		background-color: map-get($color, darkgrey);
		width: 80%;
		margin: 0 auto;
		cursor: pointer;
		flex-direction: row;
		padding: 11px;
		margin-top: 50px;
		&:hover {
			@include hover(blue, 5px);
			background-color: map-get($color, darkgrey);
		}
		.subcategory-box__item--text {
			flex-basis: 90%;
			margin: 0;
			color: map-get($color, white);
		}
		.subcategory-box__item--svg {
			flex-basis: 10%;
			width: 14px;
			height: 14px;
			transition-duration: 1s;
		}
	}
}
