.mobile-side-nav {
	display: none;
}

.side-nav {
	flex-basis: 24%;
	flex-flow: column row;
	margin: 30px 0;
	order: 2;
	font-weight: 300;
	font-size: 10pt;
	.side-nav__box {
		overflow-y: scroll;
		max-height: 85vh;
		margin-right: 13%;
		&::-webkit-scrollbar, ::-webkit-resizer {
			width: 0;
			height: 0;
		}
		.side-nav__list-box--item {
			padding: 14px 11px;
			display: block;
			line-height: 1;
			color: map-get($color, black);
			&:hover {
				text-shadow:
				-.3px -.3px 0 map-get($color, darkgrey),
				.3px -.3px 0 map-get($color, darkgrey),
				-.3px .3px 0 map-get($color, darkgrey),
				.3px .3px 0 map-get($color, darkgrey);
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				-o-transition: all .5s;
				transition: all ease .5s;
				cursor: pointer;
			}
		}
		#manufacturers-dropdown {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			line-height: 1;
			.subcategory-box__item--text {
				color: map-get($color, darkgrey);
				margin: 0;
				padding: 11px;
				&:hover {
					text-shadow:
					-.3px -.3px 0 map-get($color, darkgrey),
					.3px -.3px 0 map-get($color, darkgrey),
					-.3px .3px 0 map-get($color, darkgrey),
					.3px .3px 0 map-get($color, darkgrey);
					-webkit-transition: all .5s;
					-moz-transition: all .5s;
					-o-transition: all .5s;
					transition: all ease .5s;
					cursor: pointer;
				}
			}
			.subcategory-box__item--svg {
				width: 14px;
				height: 8px;
				padding: 10px 7px;
				transition-duration: 400ms;
				cursor: pointer;
				&:hover {
					transform: rotate(90deg);
				}
			}
		}
		.navigation-dropdown {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			line-height: 1;
			.subcategory-box__item--text {
				margin: 0;
				padding: 11px;
				color: map-get($color, black);
				&:hover {
					text-shadow:
					-.3px -.3px 0 map-get($color, darkgrey),
					.3px -.3px 0 map-get($color, darkgrey),
					-.3px .3px 0 map-get($color, darkgrey),
					.3px .3px 0 map-get($color, darkgrey);
					-webkit-transition: all .5s;
					-moz-transition: all .5s;
					-o-transition: all .5s;
					transition: all ease .5s;
					cursor: pointer;
				}
			}
			.subcategory-box__item--svg {
				width: 14px;
				height: 8px;
				padding: 10px 7px;
				transition-duration: 400ms;
				cursor: pointer;
				&:hover {
					transform: rotate(90deg);
				}
			}
		}
		.subcategory-box {
			margin-bottom: 12px;
			font-size: 0.9em;
			opacity: 1;
			.subcategory-box__item {
				width: 90%;
				color: map-get($color, darkgrey);
				padding: 0; // width: 90%;
				display: block;
				margin: 0 auto;
				&:hover {
					text-shadow:
					-.3px -.3px 0 map-get($color, darkgrey),
					.3px -.3px 0 map-get($color, darkgrey),
					-.3px .3px 0 map-get($color, darkgrey),
					.3px .3px 0 map-get($color, darkgrey);
					-webkit-transition: all .5s;
					-moz-transition: all .5s;
					-o-transition: all .5s;
					transition: all ease .5s;
					cursor: pointer;
				}
			}
		}
	}
	.active {
		text-shadow:
		-.3px -.3px 0 map-get($color, darkgrey),
		.3px -.3px 0 map-get($color, darkgrey),
		-.3px .3px 0 map-get($color, darkgrey),
		.3px .3px 0 map-get($color, darkgrey);
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		transition: all ease .5s;
	}
}

@media screen and (max-width: 700px) {
	.side-nav {
		display: none;
		flex-basis: 80%;
		margin: 0 auto;
		order: 1;
		.side-nav__box {
			display: flex;
			flex-flow: column;
			max-height: unset;
			margin-right: 0;
			.side-nav__list-box--item {
				flex-basis: 100%;
				width: 100%;
				padding: 15px 10px;
			}
			.subcategory-box {
				width: 50%;
				flex-basis: 50%;
				.subcategory-box__item {
					flex-basis: 30%;
				}
			}
		}
	}
	.mobile-side-nav {
		background-color: map-get($color, darkgrey);
		width: 80%;
		margin: 0 auto;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 11px;
		margin-top: 50px;
		&:hover {
			@include hover(blue, 5px);
			background-color: map-get($color, darkgrey);
		}
		.subcategory-box__item--text {
			flex-basis: 90%;
			margin: 0;
			color: map-get($color, white);
		}
		.subcategory-box__item--svg {
			flex-basis: 10%;
			width: 14px;
			height: 14px;
			transition-duration: 1s;
		}
	}
}
