/* Slider */
.slick-arrow {
	flex-basis: 3%;
	height: 25px;
	background-image: url('/images/SlideNext_2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition-duration: 90ms;
	background-position: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&:hover {
		opacity: 0.6;
		transition-duration: 90ms;
	}
}

.slick-disabled {
	visibility: hidden;
	cursor: default;
}

.product-gallery {
	.slick-list {
		flex-basis: 85%;
	}
	.slick-arrow {
		flex-basis: 25px;
		height: 20px;
	}
}

.slick-next {
	transform: rotate(-90deg);
}
.slick-prev {
	transform: rotate(90deg);
}

.slick-slider {
	position: relative;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir='rtl'] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

#instafeed {
	.slick-list {
		flex-basis: 100%;
	}
	.slick-arrow {
		position: absolute;
		background-image: url('/images/SlideNext_2.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		border: 0;
		transition-duration: 90ms;
		cursor: pointer;
		background-color: white;
		z-index: 155;
		width: 40px;
		height: 35px;

		&:hover {
			opacity: 0.6;
			transition-duration: 90ms;
		}
	}
	.slick-next {
		transform: rotate(-90deg);
		right: 0;
	}
	.slick-prev {
		transform: rotate(90deg);
		left: 0;
	}
}

.highlighted-products {
	.slick-list {
		flex-basis: 92%;
		.slick-slide {
			margin: 0px 1%;
		}
	}
}
