.manifesto {
	background-color: map-get($color, darkgrey);
	min-height: 95vh;
	/* Create the parallax scrolling effect */
	background-size: cover;
	background-position: center;
}

.message--huge {
	max-width: 750px;
	word-spacing: 0.1em;
	font-weight: thin;
	font-size: 4em;
	text-align: center !important;
	max-width: $window-medium !important;
	padding: 2% !important;
	line-height: 1em;
}

.message__square {
	text-align: justify;
	max-width: $window-small-medium;
	color: map-get($color, white);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1%;
}

@media screen and (max-width: 700px) {
	#manifesto {
		min-height: 65vh;
		.message {
			max-width: 90%;
			font-size: 2em;
			line-height: 1.5em;
		}
	}
}
