#manifesto {
	position: relative;
	/* The image used */
	background-color: map-get($color, darkgrey);
	/* Set a specific height */
	min-height: 95vh;
	/* Create the parallax scrolling effect */
	// background-attachment: fixed;
	background-image: url('/images/newmanifesto.jpg');
	background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
	.message {
        max-width: 750px;
        word-spacing: 0.1em;
        padding: 2%;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.7);
		font-weight: thin;
		font-size: 4em;
		line-height: 1em;
		color: map-get($color, white);
		// border: 5px solid white;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
    #manifesto {
        min-height: 65vh;
		.message {
            max-width: 90%;
            font-size: 2em;
            line-height: 1.5em;
		}
	}
}
