.get-back {
	margin-top: 35px;
	a,
	button {
		padding: 15px 30px;
		color: map-get($color, white);
		background-color: map-get($color, darkgrey);
		&:hover {
			@include hover(blue, 5px);
		}
	}
}

.product {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.product-gallery {
		flex-basis: 48%;
		text-align: center;
		overflow: hidden;
		.items-box__item--main-image {
			cursor: pointer;
			margin: 5px auto;
			max-width: 670px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 40vh;
			&:hover {
				opacity: 0.8;
				transition: 0.2s ease-out;
			}
		}
		.items-box__item-images {
			display: flex;
			justify-content: center;
			align-items: center;
			.items-box__item-images--item {
				display: inline-block;
				cursor: pointer;
				max-width: 75px !important;
				height: 50px; // border: 1px solid map-get($color, black);
				object-fit: scale-down;
				margin: 0 5px;
			}
		}
	}

	.product-description {
		display: flex;
		flex-wrap: wrap;
		list-style-position: inside;
		flex-basis: 47%;
		.description__top {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			flex-basis: 100%;
			.description__top--logo {
				&:hover {
					box-shadow: 0px 0px 3px 1px map-get($color, blue);
					transition: box-shadow 0.2s ease-out;
				}
			}
			.description__top--title {
				flex-basis: 48%;
				text-align: right;
			}
			.description__top--price {
				flex-basis: 100%;
				text-align: right;
				margin: 30px 0;
				h4 {
					font-weight: 300 !important;
				}
			}
		}
		.description__bottom {
			text-align: justify;
		}
		ul {
			list-style-type: square;
			line-height: 2em;
		}
	}

	.product-awards {
		display: flex;
		flex-basis: 100%;
		align-items: center;
		margin: 20px 0;
		.award-image {
			width: 60px;
			margin-right: 10px;
		}
	}
}

.triple-flex {
	display: flex;
	margin: 30px auto;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 35px;
	.triple-flex__box {
		flex-basis: 45%;
	}
	.triple-flex__split {
		width: 1px;
	}
}
.double-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: $window-medium) {
	.product {
		flex-wrap: wrap;
		flex-direction: column;
		.product-gallery {
			flex-basis: 100%;
			.items-box__item--main-image {
				max-width: 100%;
			}
			.items-box__item-images {
				width: 80vw;
				margin: 0 auto;
			}
		}
		.product-description {
			.description__top {
				.description-item {
					margin: 20px 0;
					flex-basis: 100%;
					text-align: center;
				}
			}
		}
		.product-awards {
			flex-direction: row;
			flex-wrap: wrap;
			.award-image {
				width: 80px;
				margin: 5px;
			}
		}
	}
	.triple-flex {
		flex-direction: column;
		.triple-flex__split {
			width: 100%;
			margin: 10px 0;
			border-bottom: 1px solid map-get($color, lightgrey);
		}
	}
}
