.get-back {
	margin-top: 35px;
	a,
	button {
		padding: 15px 30px;
		color: map-get($color, white);
		background-color: map-get($color, darkgrey);
		&:hover {
			@include hover(blue, 5px);
		}
	}
}

.product {
	.product-gallery {
		text-align: center;
		.items-box__item--main-image {
			margin: 5px auto;
			max-width: 670px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 40vh;
		}
		.items-box__item-images {
			.items-box__item-images--item {
				cursor: pointer;
				width: 10vh;
				height: 50px; // border: 1px solid map-get($color, black);
				object-fit: contain;
				margin: 0 5px;
			}
		}
	}
	.product-description {
		display: flex;
		flex-wrap: nowrap;
		.left-side {
			flex-basis: 45%;
			margin-right: 5%;
		}
		.right-side {
			text-align: right;
			flex-basis: 50%;
		}
	}
}

.description-nav {
	display: flex;
	text-align: center;
	.description-nav__button {
		cursor: pointer;
		flex-basis: 50%;
		background-color: map-get($color, darkgrey);
		border-top: 1px solid map-get($color, darkgrey);
		border-right: 1px solid map-get($color, darkgrey);
		border-left: 1px solid map-get($color, darkgrey);
		color: white;
		margin: 25px 0;
		padding: 16px;
		transition-duration: 350ms;
		&:hover {
			transition-duration: 400ms;
		}
	}
	.active {
		background-color: white;
		color: black;
		border-top: 1px solid map-get($color, darkgrey);
		border-left: 1px solid map-get($color, darkgrey);
		border-right: 1px solid map-get($color, darkgrey);
	}
}

.related-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	.items-box__item {
		flex-basis: 17%;
		margin: 20px 3%;
		text-align: center;
		flex-shrink: 1;
		.items-box__item--description {
			margin: 5px;
		}
	}
	.items-box__item--main-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width: 100%;
		height: 240px;
		overflow: auto;
		&:hover {
			@include hover(black, 1px);
		}
	}
}

@media screen and (max-width: 700px) {
	.product {
		.product-description {
			display: flex;
			flex-direction: column;
			.left-side {
				flex-basis: 100%;
				text-align: justify;
				margin: 0;
			}
			.right-side {
				flex-basis: 100%;
				text-align: left;
			}
		}
	}
	.related-products {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		.items-box__item {
			flex-basis: 25%;
			margin: 20px 3%;
			text-align: center;
			.items-box__item--description {
				margin: 5px;
			}
		}
		.items-box__item--main-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			width: 100%;
			height: 200px;
			overflow: auto;
			&:hover {
				@include hover(black, 1px);
			}
		}
	}
}
